<!-- CABEÇALHO GERAL -->
<header th:fragment="cabecalho" class="cabecalho">
    <nav class="cabecalho__container">
        <div class="container__hamburguer">
            <input type="checkbox" id="menu">
            <label for="menu">
                <span class="container__rotulo">
                    <i class="fa-light fa-bars fa-xl"></i>
                </span>
                <span class="cabecalho__container-logo">
                    <a href="/leisure/index"><img src="/img/imagem/logo-leisure.svg" alt="logo leisure imoveis"></a>
                </span>
            </label>

            <ul class="lista-menu">
                <div class="lista-menu__conteudo">
                    <li class="lista-menu__item home">
                        <span class="cabecalho__container-logo">
                            <a href="/leisure/index"><img src="/img/imagem/logo-leisure.svg" alt="logo leisure imoveis"></a>
                        </span>
                        <label>
                            <i class="fa-light fa-xmark fa-2xl"></i>
                        </label>
                    </li>
                </div>

                <div class="lista-menu__conteudo">
                    <div class="lista-menu__conteudo__lista">
                        <li class="lista-menu__item" data-menu>
                            <span>Categorias <i class="fa-solid fa-sm fa-chevron-right" data-arrow></i></span>
    
                            <ul class="lista-menu__sublista-categoria hidden" data-submenu>
                                <li class="lista-menu__sublista-item pointer" data-rodape="link">
                                    <span>Apartamentos</span>
                                    <label>
                                        <form method="post" th:action="@{/leisure/filtragem}" data-rodape="form">
                                            <input type="hidden" name="tipo" value="apartamento">
                                        </form>
                                    </label>
                                </li>

                                <li class="lista-menu__sublista-item pointer" data-rodape="link">
                                    <span>Casas</span>
                                    <label>
                                        <form method="post" th:action="@{/leisure/filtragem}" data-rodape="form">
                                            <input type="hidden" name="tipo" value="casa">
                                        </form>
                                    </label>
                                </li>

                                <li class="lista-menu__sublista-item pointer" data-rodape="link">
                                    <span>Sítios</span>
                                    <label>
                                        <form method="post" th:action="@{/leisure/filtragem}" data-rodape="form">
                                            <input type="hidden" name="tipo" value="sitio">
                                        </form>
                                    </label>
                                </li>

                                <li class="lista-menu__sublista-item pointer" data-rodape="link">
                                    <span>Terrenos</span>
                                    <label>
                                        <form method="post" th:action="@{/leisure/filtragem}" data-rodape="form">
                                            <input type="hidden" name="tipo" value="terreno">
                                        </form>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="lista-menu__item">
                            <a class="container__link" href="/leisure/premium">Premium</a>
                        </li>
                        <li class="lista-menu__item">
                            <a class="container__link" href="/usuario/perfil/anunciar">Anunciar</a>
                        </li>
                        <li class="lista-menu__item">
                            <a class="container__link" href="/leisure/index#contato">Links úteis</a>
                        </li>
                        <li class="lista-menu__item" data-menu>
                            <span>Nosso App <i class="fa-solid fa-sm fa-chevron-right" data-arrow></i></span>
                            <span>
                                
                            </span>
                            <ul class="lista-menu__sublista-download hidden" data-submenu>
                                <li class="lista-menu__sublista-item">
                                    <a class="container__link" href="https://play.google.com/store/apps" target="_blank">
                                        <span>Google play</span>
                                        <span>
                                            <i class="fa-brands fa-google-play"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="lista-menu__sublista-item">
                                    <a class="container__link" href="https://www.apple.com/br/store" target="_blank">
                                        <span>Apple store</span>
                                        <span>
                                            <i class="fa-brands fa-apple fa-lg"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </div>
                    <div th:replace="~{fragments/botoes :: logout}"></div>
                    
                    <div th:replace="~{fragments/botoes :: login}"></div>
                </div>
            </ul>
        </div>
    </nav>
</header>

<!-- CABEÇALHO PERFIL -->
<header th:fragment="perfil" class="cabecalho">
    <nav class="cabecalho__container">
        <div class="container__hamburguer">
            <input type="checkbox" id="menu">
            <label for="menu">
                <span class="container__rotulo">
                    <i class="fa-light fa-bars fa-xl"></i>
                </span>
                <span class="cabecalho__container-logo">
                    <a href="/leisure/index"><img src="/img/imagem/logo-leisure.svg" alt="logo leisure imoveis"></a>
                </span>
            </label>
        
            <ul class="lista-menu">
                <div class="lista-menu__conteudo">
                    <li class="lista-menu__item home">
                        <span class="cabecalho__container-logo">
                            <a href="/leisure/index"><img src="/img/imagem/logo-leisure.svg" alt="logo leisure imoveis"></a>
                        </span>
                        <label for="menu">
                            <i class="fa-light fa-xmark fa-2xl"></i>
                        </label>
                    </li>
                </div>
                <div class="cabecalho__container-welcome" th:if="${usuario != null}">
                    <p>Seja bem-vindo (a) <span th:text="${usuario.nome}"></span></p>
                </div>
                <div class="lista-menu__conteudo">
                    <li class="lista-menu__item btnAnunciar">
                        <a class="container__link btnAnunciar" href="/usuario/perfil/usuarios">
                            <span>ADM</span>
                        </a>
                    </li>
                <div class="lista-menu__conteudo">
                    <li class="lista-menu__item btnAnunciar">
                        <a class="container__link btnAnunciar" href="/usuario/perfil/anunciar">
                            <span>Anunciar</span>
                        </a>
                    </li>
                    <li class="lista-menu__item btnMeusAnuncios">
                        <a class="container__link btnAnunciar" href="/usuario/perfil/anuncio">
                            <span>Meus anúncios</span>
                        </a>
                    </li>
                    <li class="lista-menu__item btnMeusDados">
                        <a class="container__link" href="/usuario/perfil/meusdados">
                            <span>Meus dados</span>
                        </a>
                    </li>
                    <div th:replace="~{fragments/botoes :: logout}"></div>
                </div>
            </ul>
        </div>
    </nav>
</header>

<!-- CABEÇALHO ADM -->
<header th:fragment="administrador" class="cabecalho">
    <nav class="cabecalho__container">
        <div class="container__hamburguer">
            <input type="checkbox" id="menu">
            <label for="menu">
                <span class="container__rotulo">
                    <i class="fa-light fa-bars fa-xl"></i>
                </span>
                <span class="cabecalho__container-logo">
                    <a href="/leisure/index"><img src="/img/imagem/logo-leisure.svg" alt="logo leisure imoveis"></a>
                </span>
            </label>
        
            <ul class="lista-menu">
                <div class="lista-menu__conteudo">
                    <li class="lista-menu__item home">
                        <span class="cabecalho__container-logo">
                            <a href="/leisure/index"><img src="/img/imagem/logo-leisure.svg" alt="logo leisure imoveis"></a>
                        </span>
                        <label for="menu">
                            <i class="fa-light fa-xmark fa-2xl"></i>
                        </label>
                    </li>
                </div>
                <div class="cabecalho__container-welcome" th:if="${usuario != null}">
                    <p>Seja bem-vindo (a) <span th:text="${usuario.nome}"></span></p>
                </div>
                <ul class="lista-menu__conteudo">
                    <li class="lista-menu__item btnAnunciar">
                        <span>Administrador</span>
                        <ul class="lista-menu__conteudo__sublista">
                            <li>
                                <span>Usuarios cadastrados</span>
                            </li>
                            <li>
                                <span>imoveis cadastrados</span>
                            </li>
                        </ul>
                    </li>
                    <li class="lista-menu__item btnAnunciar">
                        <a class="container__link btnAnunciar" href="/usuario/perfil/anunciar">
                            <span>Anunciar</span>
                        </a>
                    </li>
                    <li class="lista-menu__item btnMeusAnuncios">
                        <a class="container__link btnAnunciar" href="/usuario/perfil/anuncio">
                            <span>Meus anúncios</span>
                        </a>
                    </li>
                    <li class="lista-menu__item btnMeusDados">
                        <a class="container__link" href="/usuario/perfil/meusdados">
                            <span>Meus dados</span>
                        </a>
                    </li>
                    <div th:replace="~{fragments/botoes :: logout}"></div>
                </ul>
            </ul>
        </div>
    </nav>
</header>
