<div th:fragment="card" class="swiper-slide">
        <div class="card">
                <h3 class="card__titulo">Saiba mais</h3>
                <img class="card__imagem" src="./img/anuncio/card/card04.png" alt="">
                <ul class="card__lista">
                        <li class="card__lista-item">
                        
                                <p><i class="fa-light fa-brazilian-real-sign card__lista-icone"></i></p>
                        
                        </li>
                        <li class="card__lista-item">
                        
                                <p><i class="fa-light fa-bed card__lista-icone"></i></p>
                        
                        </li>
                        <li class="card__lista-item">
                        
                                <p><i class="fa-light fa-shower card__lista-icone"></i></p>
                        
                        </li>
                        <li class="card__lista-item">
                        
                                <p><i class="fa-light fa-circle-parking card__lista-icone"></i></p>
                        
                        </li>
                        <li class="card__lista-item">
                        
                                <p><i class="fa-sharp fa-light fa-location-dot card__lista-icone"></i></p>
                        
                        </li>
                </ul>
        </div>
</div>