<section class="destaques" th:fragment="destaques">
    <div class="destaques__container">
        <div class="destaques__container-imagem">
            <img src="/img/imagem/destaques.png" alt="...">
        </div>
        <div class="destaques__container__conteudo">
            <h2 class="titulo__segundo">Vem ver os destaques que separamos para você</h2>
            <p>Procurando um imóvel novo para chamar de seu? Então você está no lugar certo! Veja os imóveis destaques que temos por aqui</p>
            <a class="no-decoration btn-primeiro" href="#">Ver destaques</a>
        </div>
    </div>
</section>