<section class="sem-fiador" th:fragment="fiador">
    <div class="sem-fiador__container">
        <div class="sem-fiador__container-imagem">
            <img src="/img/imagem/sem-fiador.svg" alt="...">  
        </div>
        <div class="sem-fiador__container__conteudo">
            <h2 class="titulo__segundo">Sem complicações e sem fiador</h2>
            <p>Sem aquelas burocracias para comprar seu tão sonhado imóvel e também sem a necessidade de um fiador.</p>
            <span>
                <a class="no-decoration" href="#">Como comprar sem fiador <i class="fa-solid fa-arrow-right"></i></a>
            </span>
        </div>
    </div>
</section>