<!-- PERFIL -->
<section th:fragment="perfil">
    <section class="perfil__carrossel">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <a class="container__link" href="/usuario/perfil/anunciar">
                        <img src="/img/anuncio/perfilanuncio1.png" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
</section>

<!-- ANUNCIAR -->
<section th:fragment="anunciar" class="anunciar ">
    <form th:action="@{/usuario/perfil/cadastrar}" method="post" class="anunciar__conteudo" enctype="multipart/form-data" data-profile="formAnunciar">
        <div class="anunciar__conteudo__progresso-linha">
            <div class="anunciar__conteudo__progresso-barra"></div>
            <div class="anunciar__conteudo__progresso-coluna">Dados sustentáveis</div>
            <div class="anunciar__conteudo__progresso-coluna">Dados do imóvel</div>
            <div class="anunciar__conteudo__progresso-coluna">Finalizando Anúncio</div>
        </div>

        <!-- TIPO DE IMOVEL -->
        <div class="anunciar__conteudo__box">
            <h3 class="titulo__terceiro">tipo</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-house-building"></i>
            </div>
            <p>Qual é o tipo de imóvel que você deseja anunciar?</p>
            <select class="anunciar__conteudo__selecao" name="tipo" id="imovelTipo" data-profile="question">
                <option class="anunciar__conteudo__selecao-opcao" value="apartamento">Apartamento</option>
                <option class="anunciar__conteudo__selecao-opcao" value="casa">Casa</option>
                <option class="anunciar__conteudo__selecao-opcao" value="sitio">Sitío</option>
                <option class="anunciar__conteudo__selecao-opcao" value="terreno">Terreno</option>
            </select>
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior disable" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- LOCALIDADE DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Localidade</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-face-thinking"></i>
            </div>
            <p>Em qual área o seu imóvel está situado?</p>
            <select class="anunciar__conteudo__selecao" name="imovelLocal" id="imovelLocal" data-profile="question">
                <option class="anunciar__conteudo__selecao-opcao" value="areaLivre">Área livre</option>
                <option class="anunciar__conteudo__selecao-opcao" value="condominio">Condominio</option>
                <option class="anunciar__conteudo__selecao-opcao" value="rural">Rural</option>
                <option class="anunciar__conteudo__selecao-opcao" value="urbano">Urbano</option>
            </select> 
           
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- SUSTENTABILIDADE DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Sustentabilidade</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-seedling"></i>
            </div>
            <p>O imóvel possui algum tipo de recurso sustentável?</p>
            <select class="anunciar__conteudo__selecao" name="sustentabilidade" id="imovelSustentavel" data-profile="question">
                <option class="anunciar__conteudo__selecao-opcao" value="solar">Energia solar</option>
                <option class="anunciar__conteudo__selecao-opcao" value="chuva">Captação de água da chuva</option>
                <option class="anunciar__conteudo__selecao-opcao" value="led">Lâmpadas led</option>
                <option class="anunciar__conteudo__selecao-opcao" value="aerador">Torneiras com aerador</option>
                <option class="anunciar__conteudo__selecao-opcao" value="composteira">Coleta seletiva</option>
                <option class="anunciar__conteudo__selecao-opcao" value="verde">Cultivo de área verde</option>
            </select>
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- METROS QUADRADO DO IMOVE -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">sobre o imóvel</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-ruler-combined"></i>
            </div>
                 <p>Qual o tamanho da área em metros quadrados?</p>
            <input class="anunciar__conteudo__input" type="text" name="area" id="anunciarSala" required data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- QUANTIDADE DE QUARTOS -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">sobre o imóvel</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-bed"></i>
            </div>
            <p>Quantos quartos o imóvel possui?</p>
            <input class="anunciar__conteudo__input" type="text" name="numQuartos" id="anunciarQuarto" required data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- QUANTIDADE DE BANHEIROS -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">sobre o imóvel</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-shower"></i>
            </div>
            <p>Quantos banheiros o imóvel possui?</p>
            <input class="anunciar__conteudo__input" type="text" name="numBanheiros" id="anunciarBanheiro" required data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- QUANTIDADE DE VAGAS NA GARAGEM -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">sobre o imóvel</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-garage-car"></i>
            </div>
            <p>Quantas vagas de garagem imóvel possui?</p>
            <input class="anunciar__conteudo__input" type="text" name="vagasGaragem" id="anunciarVaga" required data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- QUASE TERMINANDO -->
        <!-- <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Estamos quase terminando...</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-face-laugh-squint"></i>
            </div>
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div> -->

        <!-- ENDEREÇO DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Agora precisamos do endereço</h3>
            <!-- VIA CEP -->
            <div class="dados__container__conteudo">
                <span>Cep</span>
                <input class="anunciar__conteudo__input" name="cep" type="text" id="cep" value="" maxlength="9"
                    onblur="pesquisacep(this.value);" required data-profile="question"/>
            </div>
            <div class="dados__container__conteudo">
                <span>Número</span>
                <input class="anunciar__conteudo__input" name="numero" type="text" id="anunciarNumero" required/>
            </div>
            <div class="dados__container__conteudo">
                <span>Bairro</span>
                <input class="anunciar__conteudo__input" name="bairro" type="text" id="bairro" required data-anunciar="endereco"/>
            </div>
            <div class="dados__container__conteudo">
                <span>Cidade</span>
                <input class="anunciar__conteudo__input" name="cidade" type="text" id="cidade" required data-anunciar="endereco"/>
            </div>
            <div class="dados__container__conteudo">
                <span>Rua</span>
                <input class="anunciar__conteudo__input" name="rua" type="text" id="rua" required data-anunciar="endereco"/>
            </div>
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior anterior8" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo proximo9" type="button">Próximo</button>
            </div>
        </div>

        <!-- DESCRICÃO DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Estamos nos ultimos passos</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-bullhorn"></i>
            </div>
            <p>Fale mais sobre o imóvel que deseja anunciar</p>
            <textarea class="anunciar__conteudo__input descricao" name="descricao" id="anuciarDescricao" cols="30"
                rows="10"
                placeholder="digite detalhes sobre seu imóvel que seja relevante para a sua venda." data-profile="question"></textarea>
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- IPTU DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">IPTU</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-house"></i>
            </div>
            <p>Qual o valor do IPTU anual do imovel?</p>
            <input class="anunciar__conteudo__input" type="text" name="iptu" placeholder="500,00" required data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- VALOR DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Valor</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-thin fa-tags"></i>
            </div>
            <p>Digite o valor que deseja vender seu imóvel</p>
            <input class="anunciar__conteudo__input" type="text" name="preco" placeholder="200000,00" required data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div>

        <!-- IMAGEM DO IMOVEL -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">A melhor foto</h3>
            <div class="anunciar__conteudo__box__animacao">
                <label for="imovelImagem">
                    <i class="fa-thin fa-image"></i>
                </label>
            </div>
            <p>Envie a melhor foto que você possui do seu imóvel</p>
            <input class="anunciar__conteudo__input hidden" type="file" accept="image/jpg, image/jpeg, image/png"
                id="imovelImagem" name="file" data-profile="question">
            <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Concluir</button>
            </div>
        </div>

        <!-- CONFIRMAÇÃO DO ANUNCIO -->
        <!-- <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Deseja confirmar o seu anuncios?</h3>
            <div class="anunciar__conteudo__box__animacao">
                <i class="fa-sharp fa-thin fa-question"></i>
            </div> -->
            <!-- <label>
                <input class="" type="checkbox" name="" required>
                <p>Confirmo que todos os dados fornecidos são verdadeiros.</p>
            </label> -->
            
            <!-- <div class="anunciar__conteudo__botao">
                <button class="anunciar__conteudo__botao-anterior" type="button">Anterior</button>
                <button class="anunciar__conteudo__botao-proximo" type="button">Próximo</button>
            </div>
        </div> -->

        <!-- FINALIZAÇÃO -->
        <div class="anunciar__conteudo__box" data-profile="anunciar">
            <h3 class="titulo__terceiro">Parabéns! Seu anuncio foi criado</h3>
            <div class="anunciar__conteudo__box__imagem">
                <img src="/img/imagem/congrat.gif" alt="Parabéns">
            </div>
            <div class="anunciar__conteudo__botao">
                <button type="submit">
                    <span>Concluir</span>
                </button>
            </div>
        </div>
    </form>
</section>

<!-- MEUS ANUNCIOS -->
<th:block th:fragment="anuncio">
    <div th:if="${mensagem}">
        <div class="alert alert-success" th:text="${mensagem}"></div>
    </div>
    <div th:if="${erro}">
        <div class="alert alert-danger" th:text="${erro}"></div>
    </div>
    <section class="anuncio " th:if="${imovelPorId.size != 0}" th:each="imovel : ${imovelPorId}">
        <div class="anuncio__card">
            <ul class="anuncio__card__lista">
                <form th:action="@{/usuario/perfil/salvar-foto}" method="post" enctype="multipart/form-data">
                <li>
                    <label for="input-file">
                        <img class="anuncio__card__lista__imagem" th:src="|http://localhost:8080/usuario/perfil/imovel/imagem/${imovel.id}|">
                        <input class="anunciar__conteudo__input hidden" type="file" accept="image/jpg, image/jpeg, image/png"
                        id="input-file" name="file">
                    </label>
                </li>
            </form>
                <ul class="anuncio__card__form">
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Tipo: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.tipo}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Área: 
                            <span class="anuncio__card__conteudo__resultado" th:text="${imovel.area}"></span>
                            <span class="anuncio__card__conteudo__resultado">m²</span>
                        </p>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Sustentabilidade: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.sustentabilidade}"></span>
                    </li>
                    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">IPTU:R$ </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.iptu}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo" >
                        <p class="anuncio__card__conteudo__titulo">Quartos: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.numQuartos}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Banheiros: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.numBanheiros}"></span>
                    </li> 
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Vagas: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.vagasGaragem}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">CEP: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.cep}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Cidade: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.cidade}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Bairro: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.bairro}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Número: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.numero}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Descrição: </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.descricao}"></span>
                    </li>
    
                    <li class="anuncio__card__conteudo">
                        <p class="anuncio__card__conteudo__titulo">Valor:R$ </p>
                        <span class="anuncio__card__conteudo__resultado" th:text="${imovel.preco}"></span>
                    </li>
                </ul> 
            </ul>
            
            
            <div class="anuncio__card__botao">
                <a th:href="|/usuario/perfil/editar-imovel/${imovel.id}" class="no-decoration" onclick="loading()">
                    Editar
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
        </div>
    </section>
    <div class="anuncio__container__mensagem" th:if="${imovelPorId.size == 0}">
        <p class="anuncio__container__mensagem__content">Poxa, você ainda não possui um anúncio.</p>
        <div class="anuncio__container__mensagem__imagem">
            <img src="/img/imagem/sad-dinosaur.svg" alt="Poxa, você ainda não possui um anúncio.">
        </div>
        <a class="no-decoration anuncio__container__mensagem__link" href="anunciar" onclick="loading()">anunciar <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</th:block>

<!-- MEUS DADOS -->
<section th:fragment="meusdados" class="meusdados">
    <form id="form-imagem" method="post" enctype="multipart/form-data" th:action="@{/usuario/salvar-foto}" data-form-imagem>
        <input name="id" th:value="${usuario.id}" id="id_usuario" hidden>
        <div class="meusdados__imagem">

            <label for="input-file">
                <img th:src="|http://localhost:8080/usuario/imagem/${usuario.id}|">
                <span>Alterar imagem <i class="fa-regular fa-file-image"></i></span>
            </label>

            <input id="input-file" type="file" name="file" accept="image /*" data-input-imagem>
        </div>

    </form>
  
    <div th:if="${mensagem}">
        <div class="alert alert-success" th:text="${mensagem}"></div>
    </div>

    <form class="meusdados__container" method="post" th:action="@{/usuario/atualizacao}">
        <div class="meusdados__container__form">
            <div class="meusdados__container__conteudo">
                <label for="meusdadosNome">Nome completo:</label>
                <input type="text" name="nome" id="meusdadosNome" th:value="${usuario.nome}" disabled>
            </div>
            <div class="meusdados__container__conteudo">
                <label for="meusdadosData">Data de nascimento:</label>
                <input type="date" name="data" id="meusdadosData" th:value="${usuario.data}" disabled>
            </div>
            <div class="meusdados__container__conteudo">
                <label for="meusdadosEmail">E-mail:</label>
                <input type="email" name="email" id="meusdadosEmail" th:value="${usuario.email}" disabled>
            </div>

            <div class="meusdados__container__conteudo">
                <label for="dadoTelefone">Telefone:</label>
                <input type="tel" name="telefone" id="dadoTelefone" th:value="${usuario.telefone}" maxlength="15" >
                <i class="fa-regular fa-pen-to-square"></i>
            </div>
            <div class="meusdados__container__conteudo">
                <label for="meusdadosCpf">CPF</label>
                <input type="text" name="cpf" id="meusdadosCpf" th:value="${usuario.cpf}" maxlength="14" disabled>
            </div>
        </div>
        <div class="meusdados__card__botao">
            <button type="submit" onclick="loading()">
                <span>Salvar alterações</span>
            </button>
        </div>
    </form>
</section>

<!-- USUARIOS -->
<th:block th:fragment="usuarios">
    <section class="usuarios">
        <table>
            <thead class="usuarios__tabela__cabeca">
                <tr>
                    <th class="tabela__id">ID</th>
                    <th class="tabela__nome">Nome</th>
                    <th class="tabela__cpf">CPF</th>
                    <th class="tabela__nascimento">Nascimento</th>
                    <th class="tabela__email">Email</th>
                    <th class="tabela__telefone">Telefone</th>
                    <th class="tabela__deletar">Deletar</th>
                </tr>
            </thead>
            <tbody class="usuarios__tabela__corpo" th:each="usuarios : ${listUsuarios}">
                <tr>
                    <td class="tabela__id"><span th:text="${usuarios.id}"></span></td>
                    <td class="tabela__nome"><span th:text="${usuarios.nome}"></span></td>
                    <td class="tabela__cpf"><span th:text="${usuarios.cpf}"></span></td>
                    <td class="tabela__nascimento"><span th:text="${usuarios.data}"></span></td>
                    <td class="tabela__email"><span th:text="${usuarios.email}"></span></td>
                    <td class="tabela__telefone"><span th:text="${usuarios.telefone}"></span></td>
                    <td class="tabela__deletar"><i class="fa-sharp fa-solid fa-circle-xmark" th:onclick="|deletarUsuario(${usuarios.id})|" onclick="loading()"></i></td>
                </tr>
            </tbody>
        </table>
    </section>
</th:block>

<!-- IMOVEIS -->
<th:block th:fragment="imoveis">
    <!-- <section class="imoveis" th:if="${imovelPorId.size != 0}" th:each="imovel : ${imovelPorId}"> -->
        <table>
            <thead class="imoveis__tabela__cabeca">
                <tr>
                    <th class="imoveis__tabela__id">ID</th>
                    <th class="imoveis__tabela__tipo">TIPO</th>
                    <th class="imoveis__tabela__area">ÁREA</th>
                    <th class="imoveis__tabela__sustentabilidade">SUSTENTABILIDADE</th>
                    <th class="imoveis__tabela__iptu">IPTU</th>
                    <th class="imoveis__tabela__quartos">QUAR</th>
                    <th class="imoveis__tabela__banheiros">BANH</th>
                    <th class="imoveis__tabela__vagas">VAGAS</th>
                    <th class="imoveis__tabela__cep">CEP</th>
                    <th class="imoveis__tabela__cidade">CIDADE</th>
                    <th class="imoveis__tabela__bairro">BAIRRO</th>
                    <th class="imoveis__tabela__numero">NUM</th>
                    <th class="imoveis__tabela__valor">VALOR</th>
                    <th class="imoveis__tabela__descricao">DESC</th>
                    <th class="imoveis__tabela__deletar">Deletar</th>
                </tr>
            </thead>
            <tbody class="imoveis__tabela__corpo">
                <tr>
                    <td class="imoveis__tabela__id"><span>01</span></td>
                    <td class="imoveis__tabela__tipo"><span>apartamento</span></td>
                    <td class="imoveis__tabela__area"><span>120</span></td>
                    <td class="imoveis__tabela__sustentabilidade"><span>captacao de agua da chuva</span></td>
                    <td class="imoveis__tabela__iptu"><span>1000</span></td>
                    <td class="imoveis__tabela__quartos"><span>10</span></td>
                    <td class="imoveis__tabela__banheiros"><span>10</span></td>
                    <td class="imoveis__tabela__vagas"><span>10</span></td>
                    <td class="imoveis__tabela__cep"><span>00000000</span></td>
                    <td class="imoveis__tabela__cidade"><span>santana de parnaiba</span></td>
                    <td class="imoveis__tabela__bairro"><span>parque santana</span></td>
                    <td class="imoveis__tabela__numero"><span>0000</span></td>
                    <td class="imoveis__tabela__valor"><span>9999999,99</span></td>
                    <td class="imoveis__tabela__descricao"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, cum?</span></td>
                    <td class="imoveis__tabela__deletar"><i class="fa-sharp fa-solid fa-circle-xmark" onclick="loading()"></i></td>
                </tr>
            </tbody>
        </table>
    </section>
</th:block>