<th:block th:fragment="resultado-pesquisa">
<div th:fragment="resultado-pesquisa" class="resultado__filtro" th:if="${imovelPorId.size != 0}" th:each="imovel : ${imovelPorId}">
    <div class="resultado__filtro__card">
        <div class="resultado__filtro__card__conteudo">
            <div class="resultado__filtro__card__conteudo__imagem">
                <img src="/img/anuncio/card/card01.png" alt="imagem teste card">
            </div>
            <div class="resultado__filtro__card__conteudo__content">
                <span class="resultado__filtro__card__conteudo__content__item">
                    <p class="resultado__filtro__card__conteudo__content__item__tipo">Casa</p>
                </span>
                <span class="resultado__filtro__card__conteudo__content__item">
                    <p class="resultado__filtro__card__conteudo__content__item__valor">
                        <i class="fa-thin fa-brazilian-real-sign fa-lg"></i>
                            20.000
                        </p>
                    </p>
                </span>
                <span class="resultado__filtro__card__conteudo__content__item">
                    <p class="resultado__filtro__card__conteudo__content__item__comodos">
                        <span>• 2 quartos</span>
                        <span>• 1 sala</span>   
                        <span>• 4 vaga</span>
                    </p>
                </span>
            </div>
        </div>
    </div>
</div>
</th:block> 