<footer id="contato" th:fragment="rodape" class="rodape">
    <div class="rodape__conteudo">
        <ul class="rodape__conteudo-lista">
            <h3 class="titulo__terceiro">Sessões</h3>
            <li class="rodape__conteudo-item">
                <a href="/leisure/index" class="rodape__conteudo-link">
                    <i class="fa-regular fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="#" class="rodape__conteudo-link">
                    <i class="fa-regular fa-gears"></i>
                    <span>Como comprar</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="/leisure/index#sobre" class="rodape__conteudo-link">
                    <i class="fa-regular fa-address-card"></i>
                    <span>Sobre</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="/leisure/index#time" class="rodape__conteudo-link">
                    <i class="fa-regular fa-people-group"></i>
                    <span>Time</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="/leisure/duvidas" class="rodape__conteudo-link">
                    <i class="fa-regular fa-question"></i>
                    <span>Dúvidas</span>
                </a>
            </li>
        </ul>
        <ul class="rodape__conteudo-lista">
            <h3 class="titulo__terceiro">Categorias</h3>
            <form method="post" th:action="@{/leisure/filtragem}">
                <li class="rodape__conteudo-item">
                    <i class="fa-regular fa-house-tree"></i>
                    <input type="hidden" name="tipo" value="apartamento">
                    <button type="submit" class="rodape__conteudo-link">Apartamentos</button>
                </li>
            </form>
            <form method="post" th:action="@{/leisure/filtragem}">
                <li class="rodape__conteudo-item">
                    <i class="fa-regular fa-house-tree"></i>
                    <input type="hidden" name="tipo" value="casa">
                    <button type="submit" class="rodape__conteudo-link">Casas</button>
                </li>
            </form>
            <form method="post" th:action="@{/leisure/filtragem}">
                <li class="rodape__conteudo-item">
                    <i class="fa-regular fa-house-tree"></i>
                    <input type="hidden" name="tipo" value="sitio">
                    <button type="submit" class="rodape__conteudo-link">Sítios</button>
                </li>
            </form>
            <form method="post" th:action="@{/leisure/filtragem}">
                <li class="rodape__conteudo-item">
                    <i class="fa-regular fa-house-tree"></i>
                    <input type="hidden" name="tipo" value="terreno">
                    <button type="submit" class="rodape__conteudo-link">Terrenos</button>
                </li>
            </form>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <!-- <i class="fa-regular fa-briefcase"></i> -->
                    <span>.</span>
                </a>
            </li>
        </ul>
        <ul class="rodape__conteudo-lista">
            <h3 class="titulo__terceiro">Contato</h3>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-envelope"></i>
                    <span>E-mail</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://twitter.com" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-x-twitter"></i>
                    <span>X</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://instagram.com" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://facebook.com" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-square-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://web.whatsapp.com/send?phone=5511990909999" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span>Whatsapp</span>
                </a>
            </li>
        </ul>
    </div>
    <hr class="rodape__hr"/>
    <p class="rodape__conteudo-texto">&copy 2024 Leisure Imóveis. Projeto fictício sem fins comerciais</p>
</footer>
