<footer id="contato" th:fragment="rodape" class="rodape">
    <div class="rodape__conteudo">
        <ul class="rodape__conteudo-lista">
            <h3 class="titulo__terciario">Sessões</h3>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-gears"></i>
                    <span>Serviços</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-address-card"></i>
                    <span>Sobre</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-people-group"></i>
                    <span>Time</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-question"></i>
                    <span>Dúvidas</span>
                </a>
            </li>
        </ul>
        <ul class="rodape__conteudo-lista">
            <h3 class="titulo__terciario">Categorias</h3>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-building"></i>
                    <span>Apartamentos</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-house"></i>
                    <span>Casas</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-house-tree"></i>
                    <span>Sitios</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-trowel-bricks"></i>
                    <span>Terrenos</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-briefcase"></i>
                    <span>Corretores</span>
                </a>
            </li>
        </ul>
        <ul class="rodape__conteudo-lista">
            <h3 class="titulo__terciario">Contato</h3>
            <li class="rodape__conteudo-item">
                <a href="" class="rodape__conteudo-link">
                    <i class="fa-regular fa-envelope"></i>
                    <span>E-mail</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-x-twitter"></i>
                    <span>X</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://instagram.com" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-instagram"></i>
                    <span>instagram</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://facebook.com" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-square-facebook"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li class="rodape__conteudo-item">
                <a href="https://web.whatsapp.com/send?phone=5511990909999" target="_blank" class="rodape__conteudo-link">
                    <i class="fa-brands fa-whatsapp"></i>
                    <span>Whatsapp</span>
                </a>
            </li>
        </ul>
    </div>
    <hr class="rodape__hr"/>
    <p class="rodape__conteudo-texto">&copy 2024 DEEM Apps. Development.</p>
</footer>
