<div class="container-fluid fixed-top" th:fragment="barraPesquisa">
  <!-- ALTERAR TEMA -->
  <div class="gap-2 d-md-flex justify-content-md-center mt-2">
    <label for="switch">
      <input type="checkbox" id="switch" class="d-none"><i class="fa-thin fa-sun" style="color: #f1d104;"></i>
    </label>

    <!-- <button id="temaButton" class="btn btn-light btn-sm rounded-5 position-relative" onclick="alterarTema()"><i class="fa-thin fa-sun" style="color: #f1d104;"></i></button> -->
  </div>
  <div id="barraPesquisa" class="col-7 mx-auto">
    <form class="d-flex mx-auto" role="search">
      <input class="form-control form-control-lg" type="search" placeholder="Pesquisar" aria-label="Search">
      <button id="botaoPesquisa" class="btn btn-lg" type="submit"><i
          class="fa-thin fa-magnifying-glass fa-rotate-90"></i></button>
    </form>
  </div>
  <div class="gap-2 d-md-flex">
    <a th:href="@{/leisure/index}"><i class="fa-thin fa-house-blank fa-2xl position-absolute home-page font-light"></i></a>
  </div>
  <div class="gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-info rounded-5 login-register position-absolute end-0" data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal"><i class="fa-thin fa-user"></i>Login</button>
  </div>
</div>

<!-- MENU GRANDE -->
<div class="container-fluid fixed-top" th:fragment="barraPesquisaPerfil">
  <!-- ALTERAR TEMA -->
  <div class="gap-2 d-md-flex justify-content-md-center mt-2">
    <label for="switch">
      <input type="checkbox" id="switch" class="d-none"><i class="fa-thin fa-sun" style="color: #f1d104;"></i>
    </label>

    <!-- <button id="temaButton" class="btn btn-light btn-sm rounded-5 position-relative" onclick="alterarTema()"><i class="fa-thin fa-sun" style="color: #f1d104;"></i></button> -->
  </div>
  <div id="barraPesquisa" class="col-7 mx-auto">
    <form class="d-flex mx-auto" role="search">
      <input class="form-control form-control-lg" type="search" placeholder="Pesquisar" aria-label="Search">
      <button id="botaoPesquisa" class="btn btn-lg" type="submit"><i
          class="fa-thin fa-magnifying-glass fa-rotate-90"></i></button>
    </form>
  </div>
  <div class="gap-2 d-md-flex">
    <a th:href="@{/leisure/index}"><i class="fa-thin fa-house-blank fa-2xl position-absolute home-page font-light"></i></a>
  </div>
  <button id="botaoPerfil" class="btn position-absolute end-0" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <div class="dropdown">
      <a href="#" class="font-light d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img th:src="@{/imagem/Marcelo.jpg}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong class="font-light">Meu perfil</strong>
      </a>
      <ul class="hoverMenu dropdown-menu bg-light text-small shadow mt-2">
        <li><a class="dropdown-item pointer font-light" onclick="anunciar()">Anunciar</a></li>
        <!-- data-bs-toggle="modal" data-bs-target="#anunciarModal"-->
        <li><a class="dropdown-item pointer font-light" onclick="meusAnuncios()">Meus anuncios</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item pointer font-light" onclick="meusDados()">Meus dados</a></li>
        <li><a class="dropdown-item pointer font-light" onclick="favoritos()">Favoritos</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item font-light" href="Index.html">Sair</a></li>
      </ul>
    </div>
  </button>
</div>

<!-- MENU GRANDE -->
<div class="container-fluid fixed-top" th:fragment="barraPesquisaAdm">
  <!-- ALTERAR TEMA -->
  <div class="gap-2 d-md-flex justify-content-md-center mt-2">
    <label for="switch">
      <input type="checkbox" id="switch" class="d-none"><i class="fa-thin fa-sun" style="color: #f1d104;"></i>
    </label>

    <!-- <button id="temaButton" class="btn btn-light btn-sm rounded-5 position-relative" onclick="alterarTema()"><i class="fa-thin fa-sun" style="color: #f1d104;"></i></button> -->
  </div>
  <div id="barraPesquisa" class="col-7 mx-auto">
    <form class="d-flex mx-auto" role="search">
      <input class="form-control form-control-lg" type="search" placeholder="Pesquisar" aria-label="Search">
      <button id="botaoPesquisa" class="btn btn-lg" type="submit"><i
          class="fa-thin fa-magnifying-glass fa-rotate-90"></i></button>
    </form>
  </div>
  <div class="gap-2 d-md-flex">
    <a th:href="@{/leisure/index}"><i class="fa-thin fa-house-blank fa-2xl position-absolute home-page font-light"></i></a>
  </div>
  <button id="botaoPerfil" class="btn position-absolute end-0" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <div class="dropdown">
      <a href="#" class="font-light d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong class="font-light">User name</strong>
      </a>
      <ul class="hoverMenu dropdown-menu bg-light text-small shadow mt-2">
        <!-- <li><a class="dropdown-item pointer font-light" onclick="anunciar()">Anunciar</a></li> -->
        <!-- data-bs-toggle="modal" data-bs-target="#anunciarModal"-->
        <!-- <li><a class="dropdown-item pointer font-light" onclick="meusAnuncios()">Meus anuncios</a></li> -->
        <!-- <li>
          <hr class="dropdown-divider">
        </li> -->
        <!-- <li><a class="dropdown-item pointer font-light" onclick="meusDados()">Meus dados</a></li> -->
        <!-- <li><a class="dropdown-item pointer font-light" onclick="favoritos()">Favoritos</a></li> -->
        <!-- <li>
          <hr class="dropdown-divider">
        </li> -->
        <li><a class="dropdown-item font-light" href="Index.html">Sair</a></li>
      </ul>
    </div>
  </button>
</div>