<div id="dados-area" th:fragment="compromisso">
    <div class="container-fluid mt-5">
        <div class="row mx-auto">
            <div class="col-12"></div>
            <div class="col-md-12 dadosImg parallax">
                <div class="row mx-auto">
                    <div class="col-md-4 mt-5 dados-box">
                        <i class="fa-thin fa-face-smile-hearts fa-beat"></i>
                        <h4>Satisfação</h4>
                        <p>Milhares de contratos assinados e clientes satisfeitos com o seu negócio.</p>
                    </div>
                    <div class="col-md-4 mt-5 dados-box">
                        <i class="fa-thin fa-hand-holding-seedling fa-beat"></i>
                        <h4>Sustentabilidade</h4>
                        <p>Além de contribuir com o meio ambiente, imóveis sustentáveis tem amis benefil com a gente.
                        </p>
                    </div>
                    <div class="col-md-4 mt-5 dados-box">
                        <i class="fa-thin fa-award fa-beat"></i>
                        <h4>Qualidade Garantida</h4>
                        <p>Garantimos a transparência, qualidade e preços conpativeis com o mercado para melhor
                            atende-lo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 