<div class="container mt-5" th:fragment="duvidas">
  <div class="row">
    <div class="Faq col-8 d-flex flex-column justify-content-center mt-3 rounded-start-4 font-light">
      <span class="ms-5">
        <h3>Posso criar um anúncio sem realizar um cadastro?</h3>
      </span>
      <span class="ms-5">R: Não. É essencial que você tenha um cadastro para trabalhar em seu anúncio.<br></span>
    </div>
    <div class="Faq col-4 d-flex justify-content-center mt-3 rounded-end-4">
      <img class="me-5" src="/imagem/newUser.png" alt="Preciso pagar?" width="300px">
    </div>

    <div class="Faq col-8 d-flex flex-column justify-content-center mt-3 rounded-start-4 font-light">
      <span class="ms-5">
        <h3>Para anunciar meu imóvel é cobrado algum valor?</h3>
      </span>
      <span class="ms-5">R: A Leisuri não cobra nenhum valor para você anunciar seu imóvel.<br></span>
      <span class="ms-5">Fica opcional do usuário adquirir um pacote.</span>
    </div>
    <div class="Faq col-4 d-flex justify-content-center mt-3 rounded-end-4">
      <img class="me-5" src="/imagem/money.png" alt="Preciso pagar?" width="300px">
    </div>

    <div class="Faq col-8 d-flex flex-column justify-content-center mt-3 rounded-start-4 font-light">
      <span class="ms-5">
        <h3>Por quanto tempo meu anúncio fica no ar?</h3>
      </span>
      <span class="ms-5">R: O anúncio fica nor ar durante 3 dias e logo após isso será apagado.<br></span>
      <span class="ms-5">Para que seu anúncio permaneca por mais tempo, é necessário adquirir um pacote.</span>
    </div>
    <div class="Faq col-4 d-flex justify-content-center mt-3 rounded-end-4">
      <img class="me-5" src="/imagem/megaFone.png" alt="Preciso pagar?" width="300px">
    </div>

    <div class="Faq col-8 d-flex flex-column justify-content-center mt-3 rounded-start-4 font-light">
      <span class="ms-5">
        <h3>Tenho interesse em um imóvel, mas é confiavél?</h3>
      </span>
      <span class="ms-5">R: A Leisuri trabalha constantemente para aprovar anúncios e evitar fraudes.<br></span>
      <span class="ms-5">Vale salientar que anúncios com valores muito atrativos devem ser tratados com cautela.</span>
    </div>
    <div class="Faq col-4 d-flex justify-content-center mt-3 rounded-end-4">
      <img class="me-5" src="/imagem/security.png" alt="Preciso pagar?" width="300px">
    </div>

    <div class="Faq col-8 d-flex flex-column justify-content-center mt-3 rounded-start-4 font-light">
      <span class="ms-5">
        <h3>A Leisuri faz contratos?</h3>
      </span>
      <span class="ms-5">R: No momento não trabalhamos com contrato. Nosso objetivo no momento é conectar os usuários
        que anunciam seus imóveis e usuários que desejam comprar ou alugar.<br></span>
      <!-- <span class="ms-5">Vale salientar que anúncios com valores muito atrativos devem ser tratados com cautela.</span> -->
    </div>
    <div class="Faq col-4 d-flex justify-content-center mt-3 rounded-end-4">
      <img class="me-5" src="/imagem/contrato.png" alt="Preciso pagar?" width="300px">
    </div>
  </div>
</div>