<div id="meus-dados" class="col-7 mt-5 pt-5" th:fragment="meusDados">
  <form class="row g-3 d-flex d-inline-block" method="post" th:action="@{/usuario/atualizacao}" enctype="multipart/form-data">
	  <input name="id" th:value="${usuario.id}" hidden>
    <div id="imagem-circle" class="col-sm-12 d-block text-center">
      <div id="imagemUsuario" class="mx-auto">
        <span><img class="rounded-circle img-thumbnail"  th:src="@{/usuario/imagem/{id} (id=${usuario.id})}"></img></span>
      </div>
      <label for="input-file" id="input-imagem" class="d-block mt-4 mb-4 mx-auto">Alterar imagem <i
          class="fa-thin fa-pen-to-square"></i></label>
      <input id="input-file" name="fotoPerfil" type="file" accept="image/*">
      <input type="submit" value="Enviar">
    </div>
  </form>
  <div id="dados-pessoais">
    <div class="col-sm-12 mt-2">
		<!-- ATUALIZAÇÃO DE DADOS -->
		<form method="post" th:action="@{/usuario/atualizacao}">
			<input name="id" th:value="${usuario.id}" hidden> 
      <input id="nome" class="form-control" type="text" th:value="${usuario.nome}"
        aria-label="Disabled input example" name="nome" disabled>
    </div>
    
      <div class="gap-2 d-md-flex justify-content-md-end">
	<div th:if="${user} == null">
	<p>batata doce</p>
  </div>
  <div th:unless="${user} == null"><p>Arroz</p> </div>
</div>
    
    <div class="col-sm-12 mt-2">
      <input type="date" class="form-control" name="data" id="inputData" aria-label="Disabled input example" th:value="${usuario.data}" disabled>
    </div>
    <div class="col-sm-6 mt-2">
      <input id="cdf" class="form-control mt-1" name="cpf" type="text" placeholder="CPF" aria-label="Disabled input example" th:value="${usuario.cpf}"
        disabled>
    </div>
  </div>
  <hr class="mt-4 mb-4">
    <div class="row">
      <div class="col-12 d-flex p-2">
        <input id="email" name="email" class="form-control" type="text"  th:value="${usuario.email}" disabled>
      </div>
    </div>
  <hr class="mt-4 mb-4">
  <!-- ATUALIZAÇÃO DE TELEFONE -->
    <div class="row">
      <div class="col-12 d-flex p-2">
        <input id="telefone" name="telefone" class="form-control" type="text" th:value="${usuario.telefone}">
      </div>
      <div class="col-sm-12 mt-2 mb-2 text-center">
        <button class="btn btn-light" type="submit">Atualizar</button>
      </div>
    </div>
  <hr class="mt-4 mb-4">
  <!-- ATUALIZAÇÃO DE SENHA -->
    <div class="col-auto mt-2">
      <input id="senha" name="senhaa" type="password" class="form-control" placeholder="Senha atual">
    </div>
    <div class="col-auto mt-2">
      <input id="novaSenha" name="senha" type="password" class="form-control" th:value="${usuario.senha}">
    </div>
    <div class="col-auto mt-2">
      <input id="reNovaSenha" name="senhaa" type="password" class="form-control" placeholder="Confirme a nova senha">
    </div>
    <div class="col-sm-12 mt-2 mb-2 text-center">
      <button class="btn btn-light" type="submit">Atualizar</button>
    </div>
  <hr class="mt-4 mb-4">
  <!-- ATUALIZAÇÃO DE CEP -->
    <div class="row">
      <div class="col-auto mt-2 me-3">
        <input class="form-control" name="cep" type="text" id="cep" th:value="${usuario.cep}" maxlength="9"/>
      </div>
			<div class="col-2 mt-2">
				<input class="form-control" name="numResidencia" type="text" id="numero" maxlength="5"
					th:value="${usuario.numResidencia}" />
			</div>
			      <div class="col-auto mt-2">
        <input class="form-control" name="complemento" type="text" id="numero" size="100" maxlength="100" th:value="${usuario.complemento}" />
      </div> 
    <!--  <div class="col-auto mt-2">
        <input class="form-control" name="rua" type="text" id="rua" readonly placeholder="Rua" />
      </div>
      <div class="col-auto mt-2">
        <input class="form-control" name="cidade" type="text" id="cidade" readonly placeholder="Cidade" />
      </div>
      <div class="col-2 mt-2">
        <input class="form-control" name="uf" type="text" id="uf" readonly placeholder="Estado" />
      </div>


      <div class="col-sm-12 mt-2 mb-2 text-center">
        <button class="btn btn-light" type="submit">Atualizar</button>
      </div>
    </div>
  <hr class="mt-4 mb-4">
    <div class="row">
      <div class="col-mb-12"> -->
     <!--   <textarea class="form-control" placeholder="Fale um pouco sobre você aqui."></textarea> -->
      </div>
      <div class="col-sm-12 mt-2 mb-2 text-center">
        <button class="btn btn-light" type="submit">Atualizar</button>
      </div>
    <!--</div> -->
  </form>
  <div class="col-12 text-center mt-4">
	<form th:action="@{'/usuario/deletar/' + ${usuario.id}}" method="post">
	<!--<input type="hidden" name="id" th:value="${usuario.id}"> -->
		<button class="btn btn-danger" type="submit">Apagar cadastro</button>
	</form>
  </div>
</div>