<div th:fragment="servicos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 id="servicos-area2" class="main-title font-light">Nossa especialidade</h3>
            </div>
            <div id="servicos-area3" class="col-md-4 servicos-box mt-5 font-light">
                <i class="fa-thin fa-mobile-alt"></i>
                <h4>Aplicativos Nativos</h4>
                <p>Utilizamos o poder dos dispositivos móveis para melhor experiência, afinal estamos na era da
                    tecnologia
                    na palma da mão, podemos fazer nossas compras até do banheiro, não é mesmo? rsrs.</p>
            </div>
            <div id="servicos-area3" class="col-md-4 servicos-box mt-5 font-light">
                <i class="fa-thin fa-shopping-cart"></i>
                <h4>E-commerce</h4>
                <p>Nós trabalhamos fazendo uma conexão entre cliente e vendedor para melhor atende-los e também para que
                    você não saia do conforto de sua casa tomando aquela água de coco ;)
                </p>
            </div>
            <div id="servicos-area3" class="col-md-4 servicos-box mt-5 font-light">
                <i class="fa-thin fa-paint-brush"></i>
                <h4>Design Criativo</h4>
                <p>Temos um design moderno, atraente e fácil de utilizar para você encontrar tudo o que precisa. Também
                    pensamos naquelas pessoas que gostam de ver só as imagens nos livros, por isso temos bastante
                    imagens
                    ilustrando nosso conteúdo. *-*
                </p>
            </div>
            <div id="servicos-area4" class="col-md-6 servicos-box mt-5 font-light">
                <i class="fab fa-google"></i>
                <h4>Expert em SEO</h4>
                <p>Visibilidade e classificação em motores de busca garantindo maior alcance. Todo mundo quer ser top
                    nos
                    resultados de pesquisa. Hahaha.
                </p>
            </div>
            <div id="servicos-area4" class="col-md-6 servicos-box mt-5 font-light">
                <i class="fa-thin fa-hands-helping"></i>
                <h4>Suporte 24/7</h4>
                <p>Para melhor atende-lo temos um suporte 24 horas por dia para ajudar com dúvidas ou até mesmo resolver
                    aquele probleminha chato. =/
                </p>
            </div>
            <!-- <div id="servicos-area4" class="col-md-4 servicos-box mt-5 font-light">
                <i class="fa-thin fa-server"></i>
                <h4>Experiência em Servidores</h4>
                <p>Haaaa, vale muito a pena lembrar que nosso site e o aplicativo mobile são integrados em um unico banco
                    de dados, ou seja, tudo que você fizer em nosso site também estará no App. Arrasamos!!! =D
                </p>
            </div> -->
        </div>
    </div>
</div>