<div class="sobre sobreTemaLight font-light" th:fragment="sobre">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="main-title">Sobre a Leisuri Imóveis</h3>
            </div>
            <div class="col-md-6 mb-5">
                <img id="escritorioImg sobre3" class="/img-fluid mt-5" src="/imagem/escritorio.png"
                    alt="Leisuri Imóveis">
            </div>
            <div class="col-md-6 mt-5">
                <h3></h3>
                <h4 class="sub-title mt-2">Compromisso</h4>
                <p>
                    Na Leisuri Imóveis, estamos empenhados em ajudar você a encontrar o lar perfeito, onde possa
                    criar memórias preciosas e viver momentos especiais. Somos o resultado de uma colaboração com a
                    DEEM, uma empresa especializada no desenvolvimento de sites e aplicativos para terceiros.
                </p>
                <h4 class="sub-title mt-5">Nossa Missão</h4>
                <p>
                    Nossa missão é simplificar a busca por imóveis. Com um catálogo diversificado, que abrange desde
                    apartamentos urbanos a casas espaçosas nos subúrbios, oferecemos opções para todos os estilos de
                    vida e orçamentos.
                </p>
                <h4 class="sub-title mt-5">O Que Nos Torna Únicos</h4>
                <p>
                    Na Leisuri Imóveis, nos destacamos pelo nosso comprometimento com a qualidade e a satisfação
                    do cliente.
                </p>
                <ul id="sobre-lista">
                    <div class="row ms-3">
                        <div class="col-4 text-end">
                            <li><i class="fa-sharp fa-regular fa-check"></i></li>
                            <li><i class="fa-sharp fa-regular fa-check"></i></li>
                            <li><i class="fa-sharp fa-regular fa-check"></i></li>
                            <li><i class="fa-sharp fa-regular fa-check"></i></li>
                        </div>
                        <div class="col text-start">
                            <li>Tecnologias modernas</li>
                            <li>Itegração de dados</li>
                            <li>Facilidade de acesso</li>
                            <li>Selos de qualidade</li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>