.procurados{
    display: flex;
    align-items: center;
    padding: 1.5em;
    margin: 3em 0;
}
.procurados__lista{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 0.25em;
}
.procurados__lista-item{
    overflow: hidden;
}

.procurados__lista-imagem{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: grayscale(100);
    transition: scale 750ms ease-in-out, filter 250ms ease-in-out;
}
.procurados__lista-imagem:hover{
    transition: 500ms;
    filter: grayscale(0);
    scale: 1.15;
}