<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adm - Leisuri Imóveis</title>
  <link rel="icon" type="image/x-icon" href="/imagem/leisuriLogo.png">
  <meta name="viewport" content="width=device-width">
  <!-- -----------------------------------------------------------------ESTILOS------------------------------------------------------------------ -->
  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="./style/bootstrap/css/bootstrap.css" rel="Stylesheet"/> -->
  
  <!-- SWIPER -->
  <link href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" rel="stylesheet">
  <!-- <link href="./style/swiper/swiper-bundle.css" rel="stylesheet"/> -->
  
  <!-- @MEDIA -->
  <link th:href="@{/style/mediaStyleBoot.css}" rel="Stylesheet"/>
  
  <!-- FONTAWESOME 6.4.2 ICONS -->
  <script src="https://kit.fontawesome.com/4c7894104f.js" crossorigin="anonymous"></script>
  <!-- <link href="./style/fontawesome/css/all.css" rel="Stylesheet"/>
  <link href="./style/fontawesome/css/brands.css" rel="Stylesheet"/>
  <link href="./style/fontawesome/css/fontawesome.css" rel="Stylesheet"/> -->
</head>

<body>
  <div class="grande">
    <div class="container-fluid faixa-nav fixed-top"></div>
    <div class="container fixed-top">
      <div id="barraPesquisa" class="col-7 text-center">
        <span><h3>PAGINA DE ADMINISTRAÇÃO LEISURI</h3></span>
        <!-- <form class="d-flex mx-auto" role="search">
          <input class="form-control form-control-lg" type="search" placeholder="Pesquisar" aria-label="Search">
          <button id="botaoPesquisa" class="btn btn-lg" type="submit">⌕</button>
        </form> -->
      </div>
      <div class="gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary login-register position-absolute end-0" data-bs-target="#exampleModalToggle"
          data-bs-toggle="modal"><i class="fa-solid fa-user"></i>Login</button>
      </div>
    </div>
    <nav class="navMargin navbar navbar-expand-sm fixed-top mb-2">
      <div id="nav-fixed" class="container">
        <div id="hoverMenu" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Apartamentos</a></li>
                <li><a class="dropdown-item" href="#">Casas</a></li>
                <li><a class="dropdown-item" href="#">Sitios</a></li>
                <li><a class="dropdown-item" href="#">Terrenos</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Corretores</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#">Consultar geral</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Consultar premium</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quantidade de anuncios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Consultar bloqueados</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#bottomMenu">Contatos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">Duvidas</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="admtablefromleisuri" class="container-fluid border border-3">
    <div class="row mx-auto">
      <div class="col-1 border border-1 text-center">
        <span>Id</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Nome</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>E-mail</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>CPF</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Nascimento</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Endereço</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Telefone</span>
      </div>
      <!-- <div class="col-md-1 border border-1 text-center">
        <span>bio</span>
      </div> -->
      <div class="col-md-1 border border-1 text-center">
        <span>Premium</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Status</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Senha</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Rate</span>
      </div>
      <div class="col-md-1 border border-1 text-center">
        <span>Anuncios</span>
      </div>
      <hr>
    </div>
  </div>


<!-- -----------------------------------------------------------------SCRIPTS------------------------------------------------------------------ -->
  <!-- JS SWIPER -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- <script src="./style/swiper/swiper-bundle.js"></script> -->
  
  <!-- JS BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="./style/bootstrap/js/bootstrap.js"></script> -->
  <!-- <script src="./style/bootstrap/js/bootstrap.bundle.js"></script> -->
  <!-- JS -->
  <script th:src="@{/style/ScriptBoot.js}"></script>
</body>

</html>