<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- -----------------------------------------------------------------ESTILOS------------------------------------------------------------------ -->
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="./style/bootstrap/css/bootstrap.css" rel="Stylesheet"/> -->

    <!-- SWIPER -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> -->
    <link href="@{style/swiper/swiper-bundle.css}" rel="stylesheet" />

    <!-- @MEDIA -->
    <link th:href="@{style/mediaStyleBoot.css}" rel="Stylesheet"/>

    <!-- FONTAWESOME 6.4.2 ICONS -->
    <!-- <script src="https://kit.fontawesome.com/4c7894104f.js" crossorigin="anonymous"></script> -->
    <link href="@{style/fontawesome/css/all.css}" rel="Stylesheet" />
    <link href="@{style/fontawesome/css/brands.css}" rel="Stylesheet" />
    <link href="@{style/fontawesome/css/fontawesome.css}" rel="Stylesheet" />
</head>
<body>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 mt-2 d-flex justify-content-center mt-5">
        <h1>AREA EM CONSTRUÇÃO</h1>
      </div>
    </div>
  </div>
</body>
</html>