<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leisuri Imóveis</title>
  <link rel="icon" type="image/x-icon" th:href="@{/imagem/leisuriLogo.png}">
  <meta name="viewport" content="width=device-width">
  <!-- ESTILOS -->
  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="./style/bootstrap/css/bootstrap.css" rel="Stylesheet"/> -->
  
  <!-- SWIPER -->
  <link href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" rel="stylesheet">
  <!-- <link href="./style/swiper/swiper-bundle.css" rel="stylesheet"/> -->
  
  <!-- @MEDIA -->
  <link th:href="@{/style/mediaStyleBoot.css}" rel="Stylesheet"/>
  
  <!-- FONTAWESOME 6.4.2 ICONS -->
  <script src="https://kit.fontawesome.com/4c7894104f.js" crossorigin="anonymous"></script>
  <!-- <link href="./style/fontawesome/css/all.css" rel="Stylesheet"/>
  <link href="./style/fontawesome/css/brands.css" rel="Stylesheet"/>
  <link href="./style/fontawesome/css/fontawesome.css" rel="Stylesheet"/> -->
</head>

<body>
  <!-- MENU GRANDE -->
  <div class="grande">
    <div class="container-fluid faixa-nav-2 fixed-top"></div>
    <div class="container fixed-top">
      <div id="barraPesquisa" class="col-7">
        <form class="d-flex mx-auto" role="search">
          <input class="form-control form-control-lg" type="search" placeholder="Pesquisar" aria-label="Search">
          <button id="botaoPesquisa" class="btn btn-lg" type="submit">⌕</button>
        </form>
      </div>
      <button id="botaoPerfil" class="btn position-absolute" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="@{/imagem/Danilo.jpg}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Danilo</strong>
          </a>
          <ul class="dropdown-menu text-small shadow mt-2">
            <li><a class="dropdown-item pointer" onclick="anunciar()">Anunciar</a></li> <!-- data-bs-toggle="modal" data-bs-target="#anunciarModal"-->
            <li><a class="dropdown-item pointer" onclick="meusAnuncios()">Meus anuncios</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item pointer" onclick="meusDados()">Meus dados</a></li>
            <li><a class="dropdown-item pointer" onclick="favoritos()">Favoritos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" th:href="@{usuario/criar}">Sair</a></li>
          </ul>
        </div>
      </button>
    </div>
  </div>
  <!-- PROFILE MENU --> 
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-12 d-flex">
        <div class="col-sm-auto anunciar-cont">
          <div class="perfil p-3 ">
            <a href="#" class="d-flex mb-3 mb-sm-0 me-sm-auto link-body-emphasis text-decoration-none">
              <span class="fs-4">Bem-vido(a)</span>
            </a>
            <hr>
            <ul class="nav nav-pills d-inline-block mb-auto">
              <li class="nav-item">
                <a class="pointer nav-link active d-flex" aria-current="page" onclick="anunciar()"> <!--data-bs-toggle="modal" data-bs-target="#anunciarModal" -->
                  <i class="fa-solid fa-house-medical d-flex align-items-center me-2"></i> Anunciar  
                </a>
              </li>
              <li>
                <a class="pointer nav-link link-body-emphasis d-flex" onclick="meusAnuncios()">
                  <i class="fa-solid fa-house-flag d-flex align-items-center me-2"></i>Meus anuncios
                </a>
              </li>
              <br>
              <li>
                <a class="pointer nav-link link-body-emphasis d-flex" onclick="meusDados()">
                  <i class="fa-solid fa-user-pen d-flex align-items-center me-2"></i>Meus dados
                </a>
              </li>
              <li>
                <a class="pointer nav-link link-body-emphasis d-flex" onclick="favoritos()">
                  <i class="fa-solid fa-star d-flex align-items-center me-2"></i>Favoritos
                </a>
              </li>
              <li>
                <a th:href="@{/leisure/index}" class="pointer nav-link link-body-emphasis d-flex" onclick="sair()"> <!-- FAZER A FUNÇÃO DE LOGOUT -->
                  <i class="fa-solid fa-right-from-bracket d-flex align-items-center me-2"></i>Sair
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ANUNCIAR -->
        <div id="anunciar" class="col-7 mt-5 pt-5">
          <form class="row g-3 d-flex d-inline-block">
            <div class="col-sm-6">
              <label for="validationTextarea" class="form-label">Tipo</label>
              <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">Selecione</option>
                <option>Apartamento</option>
                <option>Casa</option>
                <option>Terreno</option>
                <div class="invalid-feedback">
                  Please enter a message in the textarea.
                </div>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="validationTextarea" class="form-label">Local</label>
              <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">Selecione</option>
                <option>Condominio</option>
                <option>Urbano</option>
                <option>Rural</option>
                <option>Área livre</option>
                <div class="invalid-feedback">
                  Please enter a message in the textarea.
                </div>
              </select>
            </div>
            <div class="col-sm-6 mt-2 mb-2 text-center mx-auto">
              <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required>
              <label class="form-check-label" for="validationFormCheck2">Imóvel sustentável</label>
            </div>
            <div class="col-sm-6 mt-2 mb-2 text-center mx-auto">
              <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required>
              <label class="form-check-label" for="validationFormCheck3">Não sustentável</label>
            </div> 
            <div class="col-sm-3">
              <label for="validationTextarea" class="form-label">Quarto</label>
              <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label for="validationTextarea" class="form-label">Sala</label>
              <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label for="validationTextarea" class="form-label">Cozinha</label>
              <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label for="validationTextarea" class="form-label">Vaga</label>
              <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <hr class="mt-4 mb-4">
            <div class="col-sm-4">
              <label class="form-label">CEP<input class="form-control mt-1" name="cep" type="text" id="cep" value="" maxlength="9" onblur="pesquisacep(this.value);" /></label> 
            </div>
            <div class="col-sm-8">
              <label class="form-label">Rua<input class="form-control mt-1" name="rua" type="text" id="rua" size="100" readonly /></label>
            </div>
            <div class="col-sm-7">
              <label class="form-label">Cidade<input class="form-control mt-1" name="cidade" type="text" id="cidade" size="100" readonly /></label>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Estado<input class="form-control mt-1" name="uf" type="text" id="uf"  readonly /></label>
            </div> 
            <div class="col-sm-3">
              <label class="form-label">Número<input class="form-control mt-1" name="numero" type="text" id="numero" size="40" maxlength="5" /></label>
            </div>
            <div class="mb-3">
              <label for="validationTextarea" class="form-label">Descrição</label>
              <textarea class="form-control" id="validationTextarea" placeholder="Descreva o imóvel aqui." required></textarea>
              <div class="invalid-feedback">
                Descreva o imóvel.
              </div>
            </div>
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label">Imagens do imóvel.</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple accept="image/*">
            </div>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                <label class="form-check-label" for="invalidCheck3">
                  Eu concordo com os termos e todas as informações acima são verídicas.
                </label>
              </div>
            </div>
            <div class="col-sm-12 text-center">
              <button class="btn btn-success" type="submit">Criar anuncio</button>
            </div>
          </form>
        </div>
        <!-- MEUS DADOS -->
        <div id="meus-dados" class="col-7 mt-5 pt-5">
          <form class="row g-3 d-flex d-inline-block" method="get" action=".">
            <div id="imagem-circle" class="col-sm-12 d-block text-center">
              <div id="imagemUsuario" class="mx-auto">
                <span><i class="foto-perfil fa-solid fa-circle-user"></i></span>
              </div>
              <label for="input-file" id="input-imagem" class="d-block mt-2 mb-4 mx-auto">Alterar imagem  <i class="fa-regular fa-pen-to-square"></i></label> 
              <input id="input-file" type="file" accept="image/*">
            </div>
          </form>
            <div id="dados-pessoais">
		<form action="/usuario/cadastrar-atualizar" method="post">
              <div class="col-sm-12 mt-2">
                <!-- <label for="nome" class="form-label">Nome completo</label> -->
                <input id="nome" name="nome" class="form-control" type="text" placeholder="Nome do usuario" aria-label="Disabled input example" th:value="${usuario.nome}" >
              </div>
              <div class="col-sm-12 mt-2">
                <!-- <label for="inputData" class="form-label">Data de Nascimento</label> -->
                <input type="date" name="data" class="form-control" id="inputData" aria-label="Disabled input example" th:value="${usuario.data}" >
              </div>
              <div class="col-sm-6 mt-2">
                <!-- <label for="cpf" class="form-label">CPF</label> -->
                <input id="cpf" class="form-control mt-1" type="text" placeholder="CPF" name="cpf" aria-label="Disabled input example" th:value="${usuario.cpf}">
              </div>
            </div>
          <hr class="mt-4 mb-4">
          <!-- ATUALIZAÇÃO DE EMAIL -->
<!--          <form id="atualziarEmail" class="container p-2 border border-1 rounded-2" action="/usuario/cadastrar-atualizar" method="post">-->
            <div class="row">
              <div class="col-12 d-flex p-2">
				  <span>Email:</span>
                <input id="email" name="email" class="form-control" type="text" th:value="${usuario.email}">
              </div>
              <div class="col-sm-12 mt-2 mb-2 text-center">
                <button class="btn btn-light" type="submit" onclick="atualizarDados()">Atualizar</button> 
              </div>
            </div>
<!--          </form>-->
          <hr class="mt-4 mb-4">
          <!-- ATUALIZAÇÃO DE TELEFONE -->
<!--          <form id="atualizarTelefone" class="container p-2 border border-1 rounded-2" action="/usuario/cadastrar-atualizar" method="post">-->
            <div class="row">
              <div class="col-12 d-flex p-2">
				  <span>Telefone:</span>
                <input id="telefone" name="telefone" class="form-control" type="text" th:value="${usuario.telefone}">
              </div>
              <div class="col-sm-12 mt-2 mb-2 text-center">
                <button class="btn btn-light" type="submit" onclick="atualizarDados()">Atualizar</button> 
              </div>
            </div>
<!--          </form>-->
          <hr class="mt-4 mb-4">
          <!-- ATUALIZAÇÃO DE SENHA -->
<!--          <form id="atualizarSenha" class="container p-2 border border-1 rounded-2" action="/usuario/cadastrar-atualizar" method="post">-->
            <div class="col-auto mt-2">
				<span>Senha:</span>
              <input id="senha" name="antigaSenha" type="password" class="form-control" th:value="${usuario.senha}">
            </div>
            <div class="col-auto mt-2">
              <input id="novaSenha" name="novaSenha" type="password" class="form-control" placeholder="Nova senha">
            </div>
            <div class="col-auto mt-2">
              <input id="reNovaSenha" name="senha" type="password" class="form-control" placeholder="Confirme a nova senha">
            </div>
            <div class="col-sm-12 mt-2 mb-2 text-center">
              <button class="btn btn-light" type="submit" onclick="atualizarDados()">Atualizar</button> 
            </div>
<!--          </form>-->
          <hr class="mt-4 mb-4">
          <!-- ATUALIZAÇÃO DE ENDEREÇO -->
<!--          <form id="atualizarEndereco" class="container border border-1 rounded-2" action="/usuario/cadastrar-atualizar" method="post">-->
            <div class="row">
              <div class="col-auto mt-2 me-3">
                <input class="form-control" name="cep" type="text" id="cep" value="" maxlength="9" onblur="pesquisacep(this.value);" th:value="${usuario.cep}"/>
              </div>
              <div class="col-auto mt-2">
                <input class="form-control" name="rua" type="text" id="rua" readonly placeholder="Rua"/>
              </div>
              <div class="col-auto mt-2">
                <input class="form-control" name="cidade" type="text" id="cidade" readonly placeholder="Cidade"/>
              </div>
              <div class="col-2 mt-2">
                <input class="form-control" name="uf" type="text" id="uf" readonly placeholder="Estado"/>
              </div>
              <div class="col-2 mt-2">
                <input class="form-control" name="numero" type="text" id="numero" maxlength="5" placeholder="Número"/>
              </div>
              <div class="col-auto mt-2">
                <input class="form-control" name="numero" type="text" id="numero" size="100" maxlength="100" placeholder="Ponto de referência"/>
              </div>
              <div class="col-sm-12 mt-2 mb-2 text-center">
                <button class="btn btn-light" type="submit" onclick="atualizarDados()">Atualizar</button> 
              </div>     
            </div>  
<!--          </form>  -->
          <hr class="mt-4 mb-4">
          <!-- Atualizar Bio -->
<!--          <form id="editarBio" class="container p-2 border border-1 rounded-2" action="/usuario/cadastrar-atualizar" method="post">-->
            <div class="row">
              <div class="col-mb-12">
                <!-- <label for="validationTextarea" class="form-label">Minha bio</label> -->
                <textarea class="form-control" placeholder="Fale um pouco sobre você aqui."></textarea>
              </div>
              <div class="col-sm-12 mt-2 mb-2 text-center">
<!--				  <form action="/usuario/cadastrar-atualizar" method="post">-->
                <button class="btn btn-light" type="submit" onclick="atualizarDados()">Atualizar</button> 
              <input type="hidden" name="id" th:value="${usuario.id}">
              </div>   
            </div>
          </form>
          <!-- Deletar Usuário -->
          <div class="col-12 text-center mt-4">
            <a th:href="@{/usuario/deletar/{id} (id=${usuario.id})}"><button class="btn btn-danger" type="alert" onclick="deletarDados()">Apagar cadastro</button></a>
          </div>          
        </div>
        <!-- MEUS ANUNCIOS -->
        <div id="meus-anuncios" class="col-7 mt-5 pt-5 text-center">
          <h1>ÁREA EM CONSTRUÇÃO</h1>
        </div>
        <!-- MEUS FAVORITOS -->
        <div id="favoritos" class="col-7 mt-5 pt-5 text-center">
          <h1>ÁREA EM CONSTRUÇÃO</h1>
        </div>
      </div>      
    </div>
  </div>
  <!-- MENU PEQUENO -->
  <div class="pequeno">
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid ">
        <img id="mini-home" class="navbar-brand" th:src="@{/imagem/mini-home.png}" alt="Inicio">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span>
            <img th:src="@{/imagem/Danilo.jpg}" alt="" width="32" height="32" class="rounded-circle me-2">
          </span>
        </button>
        <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active d-flex pointer" aria-current="page" onclick="anunciarMini()"><i class="fa-solid fa-house-medical d-flex align-items-center me-2"></i>Anunciar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex pointer" onclick="meusAnunciosMini()"><i class="fa-solid fa-house-flag d-flex align-items-center me-2"></i>Meus anúncios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex pointer" onclick="meusDadosMini()"><i class="fa-solid fa-user-pen d-flex align-items-center me-2"></i>Meus dados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex pointer" onclick="favoritos()"><i class="fa-solid fa-star d-flex align-items-center me-2"></i>Favoritos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex pointer" th:href="@{/leisure/index}"><i class="fa-solid fa-right-from-bracket d-flex align-items-center me-2"></i>Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- RODAPÉ -->
  <div class="container mt-5">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-sm-2 mb-3">
          <h5>Sessões</h5>
          <ul class="nav flex-column d-inline-block">
            <li class="nav-item mb-2"><a th:href="@{/leisure/index}" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a th:href="@{/leisure/index.html#sobre}" class="nav-link p-0 text-body-secondary">Sobre</a></li>
            <li class="nav-item mb-2"><a th:href="@{leisure/index.html#servicos-area}" class="nav-link p-0 text-body-secondary">Serviços</a></li>
            <li class="nav-item mb-2"><a th:href="@{leisure/index.html#time-area}" class="nav-link p-0 text-body-secondary">Time</a></li>
            <li class="nav-item mb-2"><a th:href="@{usuario/faq.html}" class="nav-link p-0 text-body-secondary">Dúvidas</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-2 mb-3">
          <h5>Categorias</h5>
          <ul class="nav flex-column d-inline-block">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Apartamentos</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Casas</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sitios</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terrenos</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Corretores</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-2 mb-3">
          <h5>Contato</h5>
          <ul class="nav flex-column d-inline-block">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">E-mail</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Twitter</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Whatsapp</a></li>
          </ul>
        </div>
        <div class="col-sm-5 offset-sm-1 mb-3 mt-5">
          <form>
            <h5>Se inscreva para receber todas as novidades</h5>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Inscrever</button>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>&copy;2023 DEEM Apps. Development.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-square-twitter fa-2xl"></i></a>
          </li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-square-facebook fa-2xl"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- SCRIPTS -->
  <!-- JS SWIPER -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- <script src="./style/swiper/swiper-bundle.js"></script> -->
  
  <!-- JS BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="./style/bootstrap/js/bootstrap.js"></script> -->
  <!-- <script src="./style/bootstrap/js/bootstrap.bundle.js"></script> -->
  <!-- JS -->
  <script th:src="@{/style/ScriptBoot.js}">
  </script>
  
  <script th:inline="javascript">
	  /*<![CDATA[*/
	  var mensagem = /*[[${mensagem}]]*/ null;
	  if (mensagem != null){
		  alert(mensagem);
	  }
	  /*]]>*/
  </script>
</body>

</html>