<div class="consultaGeral d-none" th:fragment="admConsultaGeral">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">CEP</th>
            <th scope="col">Premium</th>
            <th scope="col">Anuncio</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="d-none paginaAnuncios" th:fragment="admConsultaAnuncios">
  <p>ANUNCIOS</p>
</div>

<div class="d-none paginaPremium" th:fragment="admConsultaPremium">
  <p>PREMIUM</p>
</div>
<div class="d-none paginaInativos" th:fragment="admConsultaInativos">
  <p>INATIVOS</p>
</div>