<nav class="navMargin navbar navbar-expand-sm mx-auto fixed-top" th:fragment="navbarHome">
  <div id="nav-fixed" class="container-fluid">
    <div class="collapse navbar-collapse"> <!--hoverMenu-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item dropdown font-light">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 dropdown-toggle font-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Categorias</a>
          <ul class="dropdown-menu bg-light">
            <li><a class="font-light dropdown-item" href="#">Apartamentos</a></li>
            <li><a class="font-light dropdown-item" href="#">Casas</a></li>
            <li><a class="font-light dropdown-item" href="#">Sitios</a></li>
            <li><a class="font-light dropdown-item" href="#">Terrenos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item bg-light font-light" href="#">Corretores</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a id="mudarTema" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" th:href="@{index#sobre}">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" th:href="@{index#servicos}">Especialidades</a>
        </li>
        <li class="nav-item">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" th:href="@{index#time}">Time</a>
        </li>
        <li class="nav-item">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" href="#">Anunciar</a>
        </li>
        <li class="nav-item">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" aria-current="page" th:href="@{premium}">Premium</a>
        </li>
        <li class="nav-item">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" href="#bottomMenu">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" th:href="@{faq#duvidas}">Duvidas</a>
        </li>
        <li class="nav-item dropdown font-light">
          <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 dropdown-toggle font-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Download</a>
          <ul class="dropdown-menu bg-light font-light">
            <li><a class="dropdown-item bg-light font-light" href="https://play.google.com/store/games?hl=pt_BR&gl=US"
                target="_blank"><i class="fa-brands fa-google-play me-2"></i>Google Play</a></li>
            <li><a class="dropdown-item bg-light font-light" href="https://www.apple.com/br/app-store/"
                target="_blank"><i class="fa-brands fa-apple me-2 fa-lg"></i>App Store</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<!-- <nav class="navMargin navbar navbar-expand-sm fixed-top mb-2" th:fragment="navbarFaq">
    <div id="nav-fixed" class="container">
      <div id="hoverMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Apartamentos</a></li>
              <li><a class="dropdown-item" href="#">Casas</a></li>
              <li><a class="dropdown-item" href="#">Sitios</a></li>
              <li><a class="dropdown-item" href="#">Terrenos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Corretores</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#servicos-area">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/#time-area}">Time</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Anunciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bottomMenu">Contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/faq#duvida}">Duvidas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Download</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://play.google.com/store/games?hl=pt_BR&gl=US" target="_blank"><i class="fa-brands fa-google-play me-2"></i>Google Play</a></li>
              <li><a class="dropdown-item" href="https://www.apple.com/br/app-store/" target="_blank"><i class="fa-brands fa-apple me-2 fa-lg"></i>App Store</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="navMargin navbar navbar-expand-sm mx-auto fixed-top" th:fragment="navbarAdm">
    <div id="nav-fixed" class="container-fluid">
      <div class="collapse navbar-collapse"> <!--hoverMenu-->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a id="consultaGeral" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" href="#">Consulta geral</a>
          </li>
          <li class="nav-item">
            <a id="consultaAnuncios" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" href="#">Consultar anuncios</a>
          </li>
          <li class="nav-item">
            <a id="consultaPremium" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" href="#">Consultar premium</a>
          </li>
          <li class="nav-item">
            <a id="consultaInativos" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 font-light" href="#">Consultar inativos</a>
          </li>
          <li class="nav-item dropdown font-light">
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover m-2 dropdown-toggle font-light" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Consulta refinada</a>
            <ul class="dropdown-menu bg-light">
              <li><a class="font-light dropdown-item" href="#">Nome</a></li>
              <li><a class="font-light dropdown-item" href="#">CPF</a></li>
              <li><a class="font-light dropdown-item" href="#">E-mail</a></li>
              <li><a class="font-light dropdown-item" href="#">Sexo</a></li>
              <li><a class="font-light dropdown-item" href="#">Qtde anuncios</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="font-light dropdown-item" href="#">Valor</a></li>
              <li><a class="font-light dropdown-item" href="#">Cidade</a></li>
              <li><a class="font-light dropdown-item" href="#">Estado</a></li>
              <li><a class="font-light dropdown-item" href="#">CEP</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>