<!-- <div class="row mt-5" th:fragment="propaganda">
    <div id="OFF" class="col-4">
        <img id="offGrandeL" class="img-fluid" src="./anuncio/10OFF.png" alt="10OFF ">
    </div>
    <div id="OFF" class="col-4">
        <img id="offGrandeC" class="img-fluid" src="./anuncio/20OFF.png" alt="20OFF">
    </div>
    <div id="OFF" class="col-4">
        <img id="offGrandeR" class="img-fluid" src="./anuncio/50OFF.png" alt="50OFF">
    </div>
</div> -->
<div class="row mt-5" th:fragment="propaganda">
    <div id="OFF" class="col-12 d-flex justify-content-center">
        <img id="offGrandeL" class="me-2" src="./anuncio/10OFF.png" alt="10OFF ">
        <img id="offGrandeC" class="ms-2 me-2" src="./anuncio/20OFF.png" alt="20OFF">
        <img id="offGrandeR" class="ms-2" src="./anuncio/50OFF.png" alt="50OFF">
    </div>
</div>

<div class="container-fluid" th:fragment="miniPropaganda">
    <div id="container-topMini" class="row">
        <div class="col-12">
            <img id="offPequeno" class="img-fluid mt-2 rounded-3" src="./anuncio/10OFFmini.png" alt="10OFF ">
        </div>
        <div class="col-12">
            <img id="offPequeno" class="img-fluid mt-1 rounded-3" src="./anuncio/20OFFmini.png" alt="20OFF">
        </div>
        <div class="col-12">
            <img id="offPequeno" class="img-fluid mt-1 rounded-3" src="./anuncio/50OFFmini.png" alt="50OFF">
        </div>
    </div>
</div>