<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--- CSS BOOTSTRAP  -->
  <title>Leisuri Imóveis - Login</title>
  <link rel="icon" type="image/x-icon" href="../imagem/leisuriLogo.png">
  <meta name="viewport" content="width=device-width">
  <style>
  #logar{
	  display:none;
  }
  </style>
<body>
<h1>Você deseja entrar na sua conta ou criar uma nova?</h1>
	<a th:href="@{usuario/criar}">Criar uma conta</a>
	<input type="button" onclick="login()" value="Entrar na conta">
	
	<div id="logar">
	<form id="form" action="/cadastro" method="post">
	<p>Nome do Usuário: <input type="text" id="nome" placeholder="Nome" name="nome" th:value="${usuario.nome}"> </p><br>
	<p>Senha: <input type="text" id="senha" placeholder="Senha" name="senha" th:value="${usuario.senha}"></p><br>
	<button type="submit">Entrar</button>
	</form>
	</div>
	
	<script>
	function login(){
		document.getElementById("logar").style.display = 
		"block";
	}
	</script>
</body>
</html>