<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmento/head :: head}"></head>

<body>
  <!-- MENU GRANDE -->
  <div class="grande">
    <div class="container-fluid faixa-nav fixed-top bg-light"></div>
    <!-- BARRA DE PESQUISA -->
    <div th:replace="~{fragmento/barraPesquisa :: barraPesquisa}"></div>

    <!-- NAVBAR MAX MEDIA -->
    <div th:replace="~{fragmento/navbar :: navbarHome}"></div>
  </div>

  <!-- NAVBAR MIN MEDIA -->
  <div th:replace="~{fragmento/miniMenu :: miniMenu}"></div>


  <!-- <div class="container-fluid" th:replace="~{fragmento/carousel :: carousel}"></div> -->
  <div id="container-top" class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div th:replace="~{fragmento/destaque :: anuncioDetalhes}"></div>
      </div>
    </div>
  </div>


  <!-- RODAPÉ -->
  <div th:replace="~{fragmento/footer :: footer}"></div>

  <!-- MODAL LOGIN-->
  <div th:replace="~{fragmento/loginModal :: loginModal}"></div>

  <!-- CADASTRO -->
  <div th:replace="~{fragmento/cadastro :: cadastro}"></div>

  <!-- SCRIPTS -->
  <div th:replace="~{fragmento/scripts :: scripts}"></div>
</body>

</html>