<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmento/head :: head}"></head>

<body>
  <div class="grande">
    <div class="container-fluid faixa-nav fixed-top bg-light"></div>
    <!-- BARRA DE PESQUISA -->
    <div th:replace="~{fragmento/barraPesquisa :: barraPesquisaAdm}"></div>

    <!-- NAVBAR MAX MEDIA -->
    <div th:replace="~{fragmento/navbar :: navbarAdm}"></div>
  </div>

  <!-- NAVBAR MIN MEDIA -->
  <div th:replace="~{fragmento/miniMenu :: miniMenuAdm}"></div>

  <!-- TABELA -->
  <div id="container-top" class="container">
    <div th:replace="~{fragmento/admTable :: admConsultaGeral}"></div>
    <div th:replace="~{fragmento/admTable :: admConsultaAnuncios}"></div>
    <div th:replace="~{fragmento/admTable :: admConsultaPremium}"></div>
    <div th:replace="~{fragmento/admTable :: admConsultaInativos}"></div>
  </div>

  <!-- RODAPÉ -->
  <div th:replace="~{fragmento/footer :: footer}"></div>

  <!-- SCRIPTS -->
  <div th:replace="~{fragmento/scripts :: scripts}"></div>
</body>

</html>