<!DOCTYPE html>
<html lang="pt-br">
<!-- HEAD -->
<head th:replace="~{fragments/head :: head}"></head>

<body>

    <div th:replace="~{fragments/loading :: loading}"></div>

    <!-- CABEÇALHO -->
    <header th:replace="~{fragments/cabecalho :: cabecalho}"></header>

    <main class="main">
        <section class="detalhes">
            <div class="detalhes__filtro__card">
                <div class="detalhes__filtro__card__conteudo">
                    <div class="detalhes__filtro__card__conteudo__imagem" data-anuncio="anuncio">
                        <img th:src="|http://localhost:8080/leisure/imovel/imagem/${imovel.id}|" alt="Foto do imóvel">
                    </div>
    
                    <div class="detalhes__filtro__card__conteudo__content">
                        <span class="detalhes__filtro__card__conteudo__content__item">
                            <p class="detalhes__filtro__card__conteudo__content__item__tipo"><span th:text="${imovel.tipo}"></span></p>
                            <p class="detalhes__filtro__card__conteudo__content__item__tipo"><span th:text="${imovel.cidade}"></span></p>
                        </span>
                        <span class="detalhes__filtro__card__conteudo__content__item">
                            <p class="detalhes__filtro__card__conteudo__content__item__valor">
                                <span>R$ 
                                    <span th:text="${imovel.preco}"></span>
                                </span>
                            </p>
                        </span>


                        <span class="detalhes__filtro__card__conteudo__content__item">
                            <ul class="detalhes__filtro__card__conteudo__content__lista">
                                <li>
                                    <i class="fa-regular fa-bed-front"></i>
                                    <span th:text="${imovel.numQuartos}"></span>
                                </li>
                                <li>
                                    <i class="fa-sharp fa-solid fa-toilet"></i>
                                    <span th:text="${imovel.numBanheiros}"></span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-car"></i>
                                    <span th:text="${imovel.vagasGaragem}"></span>
                                </li>
                                <li>• IPTU R$<span th:text="${imovel.iptu}"></span></li>
                            </ul>
                            <ul class="detalhes__filtro__card__conteudo__content__lista">
                                <li>• <span th:text="${imovel.descricao}"></span></li>
                            </ul>
                        </span>
                        <span class="detalhes__filtro__card__conteudo__content__contato">
                            <a th:href="|https://wa.me/${imovel.usuario.telefone}?text=Olá,%20${imovel.usuario.nome}!%20Desejo%20conversar%20sobre%20seu%20anúncio%20de%20${imovel.tipo}%20na%20Leisure%20Imóveis!!!|" target="_blank">
                                <i class="fa-brands fa-whatsapp fa-xl"></i>
                                <span>Falar com vendedor</span>
                            </a>
                        </span>
                        <div class="financiamento__container__conteudo">
                            <h2 class="titulo__segundo text-center">Simule um financiamento</h2>
                            <span class="financiamento__container__conteudo__links">
                                <a class="no-decoration" href="https://banco.bradesco/html/classic/produtos-servicos/emprestimo-e-financiamento/imoveis/credito-imobiliario-aquisicao-de-imoveis.shtm" target="_blank">
                                    <img class="financiamento__container__conteudo__imagem" src="/img/imagem/bradesco.svg" alt="Financiamento com banco Bradesco">
                                </a>
                                <a class="no-decoration" href="https://www.caixa.gov.br/voce/habitacao/Paginas/default.aspx" target="_blank">
                                    <img class="financiamento__container__conteudo__imagem" src="/img/imagem/caixa.svg" alt="Financiamento com banco Caixa">
                                </a>
                                <a class="no-decoration" href="https://credito-imobiliario.itau.com.br/" target="_blank">
                                    <img class="financiamento__container__conteudo__imagem" src="/img/imagem/itau.svg" alt="Financiamento com banco Caixa">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- RODAPE -->
    <footer th:replace="~{fragments/rodape :: rodape}"></footer>

</body>
</html>