<!DOCTYPE html>
<html lang="pt-br">
<!-- HEAD -->
<head th:replace="~{fragments/head :: head}"></head>

<body>

    <!-- CABEÇALHO -->
    <header th:replace="~{fragments/cabecalho :: perfil}"></header>

    <main class="main">
        <th:block>
            <section class="editar__anuncio">
                <div class="editar__anuncio__voltar">
                    <a href="/usuario/perfil/anuncio">
                        <i class="fa-solid fa-xmark fa-2xl"></i>
                    </a>
                </div>
                <div class="editar__anuncio__card">
                    <form method="post" enctype="multipart/form-data" th:action="@{/usuario/perfil/salvar-foto}" data-form-imagem>
                        <!-- <span>Toque na imagem para alterar</span> -->
                        <div class="editar__anuncio__card__imagem">
                            <label for="input-file">
                                <img th:src="|http://localhost:8080/usuario/perfil/imovel/imagem/${imovel.id}|">
                                <!-- <img src="/img/imagem/escritorio.png" alt=""> -->
                            </label>
                            <input class="hidden" id="input-file" type="file" name="file" accept="image /*" data-input-imagem>
                        </div>
                        <input name="id" th:value="${imovel.id}" id="idIMovel" hidden>
                    </form>
                    
                    <section>
                        <form class="editar__anuncio__card__form" method="post" th:action="@{/usuario/perfil/atualizar}">
                            <input name="id" th:value="${imovel.id}" hidden>
                            <ul class="editar__anuncio__card__valores">
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Tipo: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.tipo}"></span>
                                </li>
    
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Área: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.area}"></span>
                                    <span>m²</span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Sustentabilidade: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.sustentabilidade}"></span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <label class="editar__anuncio__card__conteudo__texto" for="anuncioValor">IPTU:R$</label>
                                    <input class="editar__anuncio__card__conteudo__resultado" type="text" name="preco" id="anuncioValor" th:value="${imovel.iptu}">
                                </li>
            
                                <li class="editar__anuncio__card__conteudo" >
                                    <p class="editar__anuncio__card__conteudo__texto">Quartos: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.numQuartos}"></span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Banheiros: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.numBanheiros}"></span>
                                </li> 
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Vagas: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.vagasGaragem}"></span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">CEP: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.cep}"></span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Cidade: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.cidade}"></span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Bairro: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.bairro}"></span>
                                </li>
            
                                <li class="editar__anuncio__card__conteudo">
                                    <p class="editar__anuncio__card__conteudo__texto">Número: </p>
                                    <span class="editar__anuncio__card__conteudo__resultado" th:text="${imovel.numero}"></span>
                                </li>

                                <li class="editar__anuncio__card__conteudo">
                                    <label class="editar__anuncio__card__conteudo__texto" for="anuncioValor">Valor:R$</label>
                                    <input class="editar__anuncio__card__conteudo__resultado" type="text" name="preco" id="anuncioValor" th:value="${imovel.preco}">
                                </li>
                            </ul>

                            <div class="editar__anuncio__card__conteudo">
                                <label class="editar__anuncio__card__conteudo__texto" for="anuncioDescricao">Descrição:</label>
                                <textarea class="editar__anuncio__card__conteudo__resultado" name="descricao" id="anuncioDescricao" rows="10" th:text="${imovel.descricao}"></textarea>
                            </div>
                            
                            <div class="editar__anuncio__card__botao">
                                <button type="submit">
                                    <span>Salvar alterações </span>
                                    <i class="fa-solid fa-check"></i>
                                </button>
                            </div>
                        </form>
                        <form th:action="@{/usuario/perfil/deletar-imovel}" method="post">
                            <input type="hidden" name="id" th:value="${imovel.id}">
                            <div class="editar__anuncio__card__botao__excluir">
                                <button type="submit">
                                    <span>Deletar Imóvel</span>
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </th:block>
    </main>

    <!-- RODAPE -->
    <footer th:replace="~{fragments/rodape :: rodape}"></footer>

</body>
</html>