<!DOCTYPE html>
<html lang="pt-br">
<!-- HEAD -->
<head th:replace="~{fragments/head :: head}"></head>
<body>

    <!-- CABEÇALHO -->
    <header th:replace="~{fragments/cabecalho :: cabecalho}"></header>

    <main class="login__cadastro">
        <section class="login__cadastro__container">
            
            <div class="modal-body">
                <div class="titulo__segundo text-center">Cadastre-se</div>
                <form class="cadastro__container" th:action="@{/usuario/cadastrar}"method="post">
                    <div class="cadastro__container__conteudo">
                        <label for="meusdadosNome">Nome completo</label>
                        <input type="text" name="nome" id="cadastroNome" autocomplete="off" minlength="3" required>
                    </div>
                    <div class="cadastro__container__conteudo">
                        <label for="cadastroCpf">CPF</label>
                        <input type="text" name="cpf" id="cadastroCpf" autocomplete="off" placeholder="Ex: 123.456.789-10" minlength="11" maxlength="14" required data-cadastro="cadastroCpf">
                    </div>
                    <div class="cadastro__container__conteudo">
                        <label for="cadastroData">Data de nascimento</label>
                        <input type="date" name="data" id="cadastroData" required data-cadastro="cadastroData">
                    </div>
                    <div class="cadastro__container__conteudo">
                        <label for="cadastroEmail">E-mail</label>
                        <input type="email" name="email" id="cadastroEmail" autocomplete="off" minlength="8" required>
                    </div>
                    <div class="cadastro__container__conteudo">
                        <label for="cadastroSenha">Senha</label>
                        <input type="password" name="senha" id="cadastroSenha" placeholder="Min de 8 caracteres" minlength="8" required>
                    </div>
                    <div class="cadastro__container__conteudo">
                        <label for="dadoTelefone">Telefone</label>
                        <input type="tel" name="telefone" autocomplete="off" placeholder="Ex: (11)91010-2215" minlength="11" maxlength="15" required data-cadastro="cadastroTelefone">
                    </div>
                    <div class="modal-body__botoes d-flex flex-column gap-2 justify-content-center">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <!-- <span class="btn-login" name="tenhoLogin">Já tenho cadastro</span> -->
                    </div>
                </form>
            </div>
            <div th:if="${login}">
                <div class="alert alert-danger" th:text="${login}"></div>
            </div>
            <div class="modal-body" id="modalLogin"> 
                <div class="titulo__segundo text-center">Login</div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or
                        password.</div>
                </div>
                <form class="cadastro__container" method="post" th:action="@{/leisure/login}">
                    <div class="cadastro__container__conteudo">
                        <label for="loginEmail">E-mail</label>
                        <input type="email" name="username" id="loginEmail">
                    </div>

    
                    <div class="cadastro__container__conteudo">
                        <label for="loginSenha">Senha</label>
                        <input type="password" name="password" id="loginSenha">
                    </div>
                    <div class="modal-body__botoes d-flex flex-column gap-2 justify-content-center">
                        <button type="submit" class="btn btn-primary" id="botaoDeLogin">Entrar</button>
                        <!-- <span class="btn-cadastrar">Não tenho cadastro</span> -->
                    </div>
                </form>
            </div>
        </section>
        
    </main>
    <!-- RODAPE -->
    <footer th:replace="~{fragments/rodape :: rodape}"></footer>
</body>
</html>