<!DOCTYPE html>
<html lang="pt-br">
<!------------------------------ HEAD ------------------------------>
<head th:replace="~{fragments/head :: head}"></head>

<body class="body">
    <!------------------------------ TROCAR TEMA ------------------------------>
    <div th:replace="~{fragments/trocarTema :: trocarTema}"></div>

    <!------------------------------ CABEÇALHO ------------------------------>
    <header th:replace="~{fragments/cabecalho :: perfil}"></header>

    <main class="main">
        <!---------------------------- ANUNCIAR ---------------------------->
        <section class="anunciar hidden">
            <form action="" class="anunciar__conteudo">
                <div class="anunciar__conteudo__progresso-linha" >
                    <div class="anunciar__conteudo__progresso-barra"></div>
                    <div class="anunciar__conteudo__progresso-coluna">Dados sustentáveis</div>
                    <div class="anunciar__conteudo__progresso-coluna">Dados do imóvel</div>
                    <div class="anunciar__conteudo__progresso-coluna">Finalizando Anucnio</div>
                </div>
                <div id="form1" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">tipo</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-house-building"></i>
                    </div>
                    <p>Qual é o tipo de imóvel que você deseja anunciar?</p>
                    <select class="anunciar__conteudo__selecao" name="imovelTipo" id="imovelTipo">
                        <option class="anunciar__conteudo__selecao-opcao" value="apartamento">Apartamento</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="casa">Casa</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="terreno">Terreno</option>
                    </select>
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior disable" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo1" type="button">Próximo</button>
                    </div>
                </div>
    
                <div id="form2" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Localidade</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-face-thinking"></i>
                    </div>
                    <p>Em qual área o seu imóvel está situado?</p>
                    <select class="anunciar__conteudo__selecao" name="imovelLocal" id="imovelLocal">
                        <option class="anunciar__conteudo__selecao-opcao" value="areaLivre">Área livre</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="condominio">Condominio</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="rural">Rural</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="urbano">Urbano</option>
                    </select>
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior1" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo2" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form3" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Sustentabilidade</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-seedling"></i>
                    </div>
                    <p>O imóvel possui algum tipo de recurso sustentável?</p>
                    <select class="anunciar__conteudo__selecao" name="imovelSustentavel" id="imovelSustentavel">
                        <option class="anunciar__conteudo__selecao-opcao" value="solar">Energia solar</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="chuva">Captação água da chuva</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="led">Lâmpadas led</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="aerador">Torneiras com aerador</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="composteira">Coleta seletiva</option>
                        <option class="anunciar__conteudo__selecao-opcao" value="verde">Cultivo de área verde</option>
                    </select>
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior2" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo3" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form4" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">sobre o imóvel</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-bed"></i>
                    </div>
                    <p>Quantos quartos o imóvel possui?</p>
                    <input class="anunciar__conteudo__input" type="number" name="quarto" id="anunciarQuarto">
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior3" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo4" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form5" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">sobre o imóvel</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-couch"></i>
                    </div>
                    <p>Quantas salas o imóvel possui?</p>
                    <input class="anunciar__conteudo__input" type="number" name="sala" id="anunciarSala">
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior4" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo5" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form6" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">sobre o imóvel</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-shower"></i>
                    </div>
                    <p>Quantos banheiros o imóvel possui?</p>
                    <input class="anunciar__conteudo__input" type="number" name="banheiro" id="anunciarBanheiro">
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior5" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo6" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form7" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">sobre o imóvel</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-garage-car"></i>
                    </div>
                    <p>Quantas vagas de garagem imóvel possui?</p>
                    <input class="anunciar__conteudo__input" type="number" name="vaga" id="anunciarVaga">
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior6" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo7" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form8" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Estamos quase terminando...</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-face-laugh-squint"></i>
                    </div>
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior7" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo8" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form9" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Agora precisamos do endereço</h3>
                    <!-- <i class="fa-thin fa-location-dot"></i> -->
                    <!-- VIA CEP -->
                    <!-- <form method="get" action="."> -->
                        <div class="dados__container__conteudo">
                            <span>Cep</span>
                            <input class="anunciar__conteudo__input" name="cep" type="text" id="cep" value="" maxlength="9" onblur="pesquisacep(this.value);" />
                        </div>
                        <div class="dados__container__conteudo">
                            <span>Rua</span>
                            <input class="anunciar__conteudo__input" name="rua" type="text" id="rua" disabled />
                        </div>
                        <div class="dados__container__conteudo">
                            <span>Número</span>
                            <input class="anunciar__conteudo__input" name="numero" type="text" id="anunciarNumero"/>
                        </div>
                        <div class="dados__container__conteudo">
                            <span>Bairro</span>
                            <input class="anunciar__conteudo__input" name="bairro" type="text" id="bairro"  disabled/>
                        </div>
                        <div class="dados__container__conteudo">
                            <span>Cidade</span>
                            <input class="anunciar__conteudo__input" name="cidade" type="text" id="cidade"  disabled/>
                        </div>
                        <div class="dados__container__conteudo">
                            <span>Estado</span>
                            <input class="anunciar__conteudo__input" name="uf" type="text" id="uf" disabled/>
                        </div>
                    <!-- </form> -->
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior8" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo9" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form10" class="anunciar__conteudo__box">
                    <h3 class="titulo__terciario">Estamos nos ultimos passos</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-bullhorn"></i>
                    </div>
                    <p>Fale mais sobre o imóvel que deseja anunciar</p>
                    <textarea class="anunciar__conteudo__input descricao" name="descricao" id="anuciarDescricao" cols="30" rows="10" placeholder="digite detalhes sobre seu imóvel que seja relevante para a sua venda."></textarea>
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior9" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo10" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form11" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Valor</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-thin fa-tags"></i>
                    </div>
                    <p>Digite o valor que deseja vender seu imóvel</p>
                    <input class="anunciar__conteudo__input" type="text" name="valor" placeholder="200000,00">
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior10" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo11" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form11" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">A melhor foto</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <label for="imovelImagem">
                            <i class="fa-thin fa-image fa-shake"></i>
                        </label>
                    </div>
                    <p>Envie a melhor foto que você possui do seu imóvel</p>
                    <input class="anunciar__conteudo__input hidden" type="file" accept="image/jpg, image/jpeg, image/png" id="imovelImagem"name="imovelImagem">
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior10" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo11" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form12" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Deseja confirmar o seu anuncios?</h3>
                    <div class="anunciar__conteudo__box__animacao">
                        <i class="fa-sharp fa-thin fa-question fa-fade"></i>
                    </div>
                    <div class="anunciar__conteudo__botao">
                        <button class="anunciar__conteudo__botao-anterior anterior11" type="button">Anterior</button>
                        <button class="anunciar__conteudo__botao-proximo proximo12" type="button">Próximo</button>
                    </div>
                </div>
                <div id="form13" class="anunciar__conteudo__box" >
                    <h3 class="titulo__terciario">Parabéns! Seu anuncio foi criado</h3>
                    <div class="anunciar__conteudo__box__imagem">
                        <img src="./img/imagem/congrat.gif" alt="Parabéns">
                    </div>
                    <div class="anunciar__conteudo__botao">
                        <button type="submit">
                            <span>Concluir</span>
                        </button>
                    </div>
                </div>   
            </form>
        </section>
        
        <!---------------------------- MEUS ANUNCIOS ---------------------------->
        <section class="anuncio hidden">
            <div class="anuncio__card">
                <div class="anuncio__card__imagem">
                    <img src="./img/anuncio/card/card03.png" alt="Casa a venda">
                </div>
                <form action="" method="get">
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioNumQuartos">Quartos:</label>
                        <input type="number" name="numQuartos" id="anuncioNumQuartos">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioNumBanheiros">Banheiros:</label>
                        <input type="number" name="numBanheiros" id="anuncioNumBanheiros">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioVagasGaragem">Vagas:</label>
                        <input type="number" name="vagasGaragem" id="anuncioVagasGaragem">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="AnuncioCep">CEP:</label>
                        <input type="text" name="cep" id="AnuncioCep">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioRua">Rua:</label>
                        <input type="text" name="rua" id="anuncioRua">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioCidade">Cidade:</label>
                        <input type="text" name="cidade" id="anuncioCidade">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioEstado">Estado:</label>
                        <input type="text" name="estado" id="anuncioEstado">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioNumero">Número:</label>
                        <input type="number" name="numero" id="anuncioNumero">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioDescricao">Descrição:</label>
                        <input type="text" name="descricao" id="anuncioDescricao">

                    </div>
                    <div class="anuncio__card__conteudo">
                        <label for="anuncioValor">Valor:</label>
                        <input type="number" name="valor" id="anuncioValor">

                    </div>
                    <div class="anuncio__card__botao">
                        <button type="submit">
                            <span>Salvar alterações</span>
                        </button>
                    </div>
                </form>
            </div>
        </section>

        <!---------------------------- MEUS DADOS ---------------------------->
        <section class="meusdados hidden">
            <div class="meusdados__imagem">
                <label for="meusdadosImagem"></label>
                <span>Alterar imagem</span>
                <input type="file" name="foto" id="meusdadosImagem">
            </div>
            <form class="meusdados__container">
                <div class="meusdados__container__conteudo">
                    <label for="meusdadosNome">Nome completo:</label>
                    <input type="text" name="nome" id="meusdadosNome">
                </div>
                <div class="meusdados__container__conteudo">
                    <label for="meusdadosData">Data de nascimento:</label>
                    <input type="date" name="data" id="meusdadosData">
                </div>
                <div class="meusdados__container__conteudo">
                    <label for="meusdadosEmail">E-mail:</label>
                    <input type="email" name="email" id="meusdadosEmail">
                </div>
                <div class="meusdados__container__conteudo">
                    <label for="meusdadosSenha">Senha:</label>
                    <input type="password" name="senha" id="meusdadosSenha">
                </div>
                <div class="meusdados__container__conteudo">
                    <label for="dadoTelefone">Telefone:</label>
                    <input type="tel" name="telefone" id="dadoTelefone">
                </div>
                <div class="meusdados__container__conteudo">
                    <label for="meusdadosCpf">CPF</label>
                    <input type="password" name="cpf" id="meusdadosCpf">
                </div>

                <div class="meusdados__container__conteudo">
                    <label>Cep:</label>
                    <input name="cep" type="text" id="meusdadosCep" value="" maxlength="9" onblur="pesquisacep(this.value);" />
                </div>
                <div class="meusdados__container__conteudo">
                    <label>Rua:</label>
                    <input name="rua" type="text" id="meusdadosRua"  />
                </div>
                <div class="meusdados__container__conteudo">
                    <label>Bairro:</label>
                    <input name="bairro" type="text" id="meusdadosBairro"  />
                </div>
                <div class="meusdados__container__conteudo">
                    <label>Cidade:</label>
                    <input name="cidade" type="text" id="meusdadosCidade"  />
                </div>
                <div class="meusdados__container__conteudo">
                    <label>Estado:</label>
                    <input name="uf" type="text" id="meusdadosUf" />
                </div>
                <div class="anuncio__card__botao">
                    <button type="submit">
                        <span>Salvar alterações</span>
                    </button>
                </div>
            </form>
        </section>
    </main>

    <!------------------------------ RODAPE ------------------------------>
    <footer th:replace="~{fragments/rodape :: rodape}"></footer>

</body>
</html>