.resultado {
    padding: 0 1em 1em 1em;
}

.resultado__pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultado__pesquisa__item {
    padding: 2em;
}
.resultado__filtro {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
}
.resultado__filtro__card {
    margin: 1em 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 0.5em;
    /* max-width: 400px; */
}

.resultado__filtro__card__conteudo {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* max-width: 400px; */
}

.resultado__filtro__card__conteudo__imagem {
    max-width: 400px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.resultado__filtro__card__conteudo__imagem img {
    max-width: 100%;
    max-height: auto;
}

.resultado__filtro__card__conteudo__content {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    row-gap: 0.5em;
}

.resultado__filtro__card__conteudo__content__item {
    margin: 0.5em 0;
}

.resultado__filtro__card__conteudo__content__item__tipo {
    font-size: var(--font-size);
    background: var(--cor-hover);
    display: inline-block;
    padding: 0.25em 2em;
    border-radius: 5px;
}

.resultado__filtro__card__conteudo__content__item__valor {
    margin: 1em 0;
    font-weight: 500;
    text-align: center;
}

.resultado__filtro__card__conteudo__content__lista {
    display: flex;
    column-gap: 1em;
    margin: 0.75em 0;
}

.resultado__filtro__card__conteudo__content__contato {
    padding: 1em 0;
    /* margin: 1em 0; */
    text-align: center;
}

.resultado__filtro__card__conteudo__content__contato a{
    background-color: var(--cor-hover);
    border-radius: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #11ee8e;
    transition: 0.3s;

}

.resultado__filtro__card__conteudo__content__contato a:hover{
    background-color: var(--cor-primeira);
    color: #07d27a;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .resultado__pesquisa {
        margin-left: 5em;
        display: block;
    }
}