.resultado-pesquisa {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.resultado-pesquisa__botao {
    border-radius: 5px;
    width: 90vw;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5em;
    padding: 1em;
    box-shadow: var(--cor-sombra);
}

.resultado-pesquisa button i {
    padding: 1em;
    border-radius: 50%;
    background: var(--cor-hover);
}

.resultado-pesquisa__filtro {
    background: var(--cor-primeira);
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: var(--cor-sombra);
    border-radius: 5px;
    position: absolute;
    min-height: 100vh;
    left: -600px;
    top: 0;
    padding: 1em;
    z-index: 1;
    transition: 0.5s;
}

.resultado-pesquisa__btn-close {
    display: inline-block;
    position: absolute;
    right: 1em;
}

.resultado-pesquisa__filtro-form {
    margin-top: 2em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.resultado-pesquisa__filtro-conteudo label{
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
}

.resultado-pesquisa__filtro-conteudo label span{
    font-weight: 600;
}

.resultado-pesquisa__filtro-conteudo-item , .resultado-pesquisa__filtro-conteudo-input-box, .resultado-pesquisa__filtro-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1em 0.5em;
}

.resultado-pesquisa__filtro-conteudo-input-box-item {
    margin: 0 0.5em;
}

.resultado-pesquisa__filtro-conteudo-input {
    display: flex;
    column-gap: 0.5em;
}

.resultado-pesquisa__filtro-conteudo-input-item::placeholder, .resultado-pesquisa__filtro-conteudo-item::placeholder {
    margin-left: 0.5em;
}

.resultado-pesquisa__filtro-botao {
    text-align: center;
}

.btn-filtrar {
    margin-top: 2em;
    border: 0;
    background: var(--cor-terceira);
    color: var(--cor-primeira);
    width: 50%;
    border-radius: 2em;
    padding: 0.75em 0;
    box-shadow: var(--cor-sombra);
}