.especialidade__conteudo__lista{
    text-align: center;
    padding: 0 1em;
}
.especialidade__conteudo__lista-item{
    padding: 1em 0;
}
.especialidade__conteudo__lista-texto{
    font-size: 0.75em;
}

/* -------------------------------------- MEDIA SCREEN MIN 768px -------------------------------------- */
    @media screen and (min-width: 768px){
    .especialidade__conteudo{
        display: flex;
        justify-content: center;
    }
    .especialidade__conteudo__lista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2em;
    }
    .especialidade__conteudo__lista-item{
        padding: 1.5em;
        width: 30vw;
        line-height: 1.5;
    }
}

/* -------------------------------------- MEDIA SCREEN MIN 1024px -------------------------------------- */
@media screen and (min-width: 1024px){
    
    .especialidade__conteudo__lista{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1em;
    }
    .especialidade__conteudo__lista-item{
        padding: 1em;
        width: 185px;
        line-height: 1.2;
        overflow: hidden;
    }
    .especialidade__conteudo__lista-texto{
        font-size: 1em;
    }
}