.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 1em;
}

.hidden {
    display: none;
}

.no-decoration {
    text-decoration: none;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.pointer {
    cursor: pointer;
}
