.cabecalho{
    background-color: white;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
}
.cabecalho__container, .cabecalho__navegacao{
    display: flex;
    align-items: center;
}
.container__hamburguer{
    display: block;
}

.container__hamburguer label {
    display: flex;
    align-items: center;
}

.container__usuario {
    text-align: center;
    margin: 0 0.5em;
    padding: 0.25em 0;
    width: 90%;
    background: var(--cor-terceira);
    border-radius: 5px;
}

.container__usuario span {
    color: var(--cor-primeira);
}
.container__usuario i {
    display: none;
}

.container__rotulo, .container__rotulo__login{
    display: flex;
    padding: 1em;
    cursor: pointer;
}

#menu{
    display: none;
}

.lista-menu{
    text-transform: capitalize;
    top: 0;
    left: -600px;
    position: absolute;
    background-color: white;
    width: 60vw;
    z-index: 2;
    padding-bottom: 1em;
    transition: 0.5s;
}

.lista-menu__conteudo {
    display: flex;
    flex-direction: column-reverse;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__container-logo img {
    width: 125px;
}

.cabecalho__container-welcome {
    font-size: var(--font-size);
    font-weight: 600;
    padding: 1em 0.75em 2em 1em;
}

.btn-submenu > span, .btn-download > span{
    margin: 1em 0 0.25em 0;
}
.btn-submenu i, .btn-download i{
    margin-left: 0.5em;
}

.btn-submenu, .btn-download, .lista-menu__item{
    padding: 0.75em 1em;
    font-size: var(--font-size);
    cursor: pointer;
}
.lista-menu__sublista-categoria, .lista-menu__sublista-download{
    text-transform: capitalize;
    background-color: white;
    width: 50vw;
    margin-top: 16px;
    z-index: 2;
    padding-bottom: 1em;
}
.lista-menu__sublista-item{
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
}

.lista-menu__sublista-item:hover {
    background: var(--cor-hover);
}

.lista-menu__sublista-item > a{
    text-decoration: none;
    color: var(--cor-font-principal);
}

#menu:checked ~ .lista-menu{
    left: 0;
    transition: 0.5s;
}
.container__link{
    text-decoration: none;
    color: var(--cor-font-principal);
}
.container__link i{
    margin-left: 0.5em;
}
.container__pesquisa{
    display: none;
}
.container__pesquisa-barra{
    background: transparent;
    width: 60vw;
    padding: 0.5em 1em;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family: var(--cor-font-principal);
}
.container__pesquisa-barra:focus{
    outline: 0;
}
.container__pesquisa-barra::placeholder{
    text-align: center;
}

/*  MEDIA SCREEN MIN 768px  */
@media screen and (min-width: 768px){
    .cabecalho{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .cabecalho__container .container__rotulo{
        display: none;
        padding: 0;
    }

    .cabecalho__container-logo img {
        width: 200px;
    }

    .container__hamburguer label {
        display: none;
    }

    .container__usuario{
        display: flex;
        position: relative;
        column-gap: 0.5em;
        left: 10px;
        background-color: var(--cor-primeira);
        align-items: center;
        text-align: center;
        width: auto;
        padding: 0 0.75em;
        border-radius: 20px;
        transition: 0.5s;
    }
    .container__usuario i, .container__usuario span {
        display: block;
        color: var(--cor-font-principal);
    }
    

    .container__usuario:hover {
        background: var(--cor-hover);
        transition: 0.5s;
    }

    .container__usuario i, .container__usuario span {
        font-size: var(--font-size);
    }

    .container__usuario span{
        display: block;
    }
    .lista-menu {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: relative;
        padding-right: 1em;
        width: 100vw;
        left: 0;
        margin-top: 0;
    }

    .lista-menu__conteudo {
        display: flex;
        flex-direction: row;
    }

    .home{
        margin-top: 0em;
    }
    .home label{
        display: none;
    }
    .lista-menu__item{
        padding: 0.75em 0.5em;
    }

    .lista-menu__item:hover {
        /* background: var(--cor-hover); */
    }

    .lista-menu__sublista-categoria, .lista-menu__sublista-download{
        width: auto;
        position: absolute;
        border-radius: 10px;
    }
    .lista-menu__sublista-item{
        padding: 0.75em 1em 0.75em 0.75em;
    }
    .container__pesquisa{
        display: block;
    }
    
}
