.time {
    margin: 5em 0;
}

.time .titulo__terceiro {
    margin-top: 2em;
    text-align: center;
}

.swiper {
    display: block !important;
}

.swiper {
    width: 90vw;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.time__card {
    margin: 0 0.25em;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    text-align: center;
    box-shadow: var(--cor-sombra);
    border-radius: 5px;
    padding: 0 0.5em 2.5em 0.5em;
}

.time__card-imagem {
    width: 100%;
    border-radius: 50%;
    margin: 1em 0;
}

.time__card__info {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.time_card__info-texto {
    font-size: var(--font-size);
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}
