@media screen and (min-width:100px) /* MEDIA 100px */
{
    /*TIRA O EFEITO DO BOTÃO DE PESQUISA*/
    #botaoPesquisa:active
    {
        border-color: transparent !important;
    }

    #mini-home {
        width: 50%;
    }
    /* REFERENTE AS 3 IMAGENS DE OFF */
    #offGrandeL, #offGrandeC, #offGrandeR, .carousel-inner, .grande {
        display: none;
    }
    /* REFERENTE AS 3 IMAGENS DE OFF */
    #offPequeno, .pequeno {
        display: block;
    }

    .anuncioGridmini {
        display: block !important;
        width: 100% !important;
    }

    #container-topMini {
        margin-top: 75px;
    }

    /* SOBRE A LEISURI */
    #sobre {
        margin-top: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        text-align: center;
    }

    .main-title {
        padding-top: 50px;
        color: #444;
        margin: 40px 0 25px 0;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .sub-title {
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 
    
    /* EFEITO NA IMAGEM DO ESCRITÓRIO */
    #escritorioImg {
        background-color: rgba(0, 0, 0, 0.7);
    }

    #sobre-lista {
        list-style: none;
        padding-left: 0;
    }

    #sobre-lista li {
        line-height: 30px;
    }

    #sobre-lista i {
        color: #65DAf9;
        margin-right: 15px;
    }
    /* SERVIÇOS */
    .servicos-box i, .servicos-box h4
    {
        transition: .7s;
    }
    .servicos-box i
    {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .servicos-box h4
    {
        font-size: 24px;
    }
    .servicos-box:hover > i, .servicos-box:hover > h4
    {
        color: #65DAf9;
    }
    /* DADOS AREA */
    #dados-area, #padrao-img h4, #padrao-img p{
        color: white;
    }
    .dadosImg{
        background-position: center;
        background-repeat: repeat;
        background-size: cover;  
    }
    .parallax{
        min-height: 250px;
        background-attachment: fixed;
    }
    .parallax-content{
        padding: 100px;
        color: white;
    }
    .dados-box, .card-body, .servicos-box{
        text-align: center;
    }
    .dados-box i, .servicos-box h4
    {
        transition: .7s;
    }
    .dados-box i
    {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .dados-box h4
    {
        font-size: 24px;
    }
    /* TRABALHE CONOSCO */
    #trabalhe-area .container-fluid, #trabalhe-area .row{
        height: 100%;
    }
    #trabalhe-area .trabalhe-box{
        text-align: center;
        padding: 70px;
    }
    #empresa-img{
        background-image: url('../imagem/square.png');
        height: 100%;
    }
    .parallax-trabalhe{
        min-height: 350px;
        background-attachment:fixed;
    }
    #padrao-img{
        background-image: url('../imagem/programar.png');
        height: 100%;
    }
    #padrao-img h4{
        margin-top: 8%;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    #padrao-img p{
        margin-bottom: 20px;
    }
    #apply-btn{
        display: block;
        height: auto;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        background-color: transparent;
        border-color: white;
    }
    #apply-btn:hover{
        border-color: #65DAF9;
        background-color: #65DAF9;
    }
    .bottomMenu {
        display: block;
        justify-content: center;
    }

    .bottomMenu * {
        color: #333;
        list-style: none;
        text-decoration: none;
    }

    .bottomMenu ul li {
        margin: 15px;
    }

    .servicos-box:hover > i, .servicos-box:hover > h4, #bottomMenu li a:hover {
        color: #65DAF9;
    }

    .faixaBottom {
        background-color: rgb(110, 110, 110);
        margin-top: 560px;
        margin-bottom: -560px;
        padding-top: 30px;
    }

    .faixaBottom footer{
        padding-bottom: 10px;
        padding-top: 30px;
        margin-top: 10px;
        text-align: center;
        margin: 0 auto;
    }

    #bottomMenu {
        margin-top: 20px;
    }
    #botaoPesquisa{
        margin-left: -57px;
    }
    .navbar-toggler:focus{
        box-shadow: none !important;
    }

    .card{
        border: 3px solid rgba(63, 100, 233, 0.185);
        left: 2%;
    }
    .card-time{
        border: 3px solid rgba(63, 100, 233, 0.185);
        left: 2%;
    }
    .card-body .card-text-time{
        text-align: center !important;
    }
    .card-body a{
        text-decoration: none;
        margin: 5px 0;
        display: flex !important;
        text-align: center !important;
        justify-content: center;
    }
    .card-body a i{
        padding: 3px;
        align-items: center;
    }
    .card-body .btn-primary{
        padding: 10px;
        margin: 0 50px !important;
    }
    .card-img-top{
        width: 200px;
        height: 200px;
        margin: 25px auto 5px auto;
        border: 3px solid rgb(63, 100, 223);
        border-radius: 50%;
        object-fit: cover;
    }
    #card-body-time{
        background: linear-gradient(to bottom, rgb(63, 100, 223) 40%, white 40%);
        border-radius: 15px;
        border: 3px solid rgb(63, 100, 223);
        width: 90% !important;
        height: 400px !important;    
    }
    .time-area{
        margin-top: 100px !important;
    }
    .foto-perfil{
        width: 200px !important;
        font-size: 150px !important;
    }
    #imagemUsuario{
        max-width: 160px;
        width: auto;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: #333 2px solid;
    }
    #input-file{
        display: none;
    }
    /* PAGINAS */
    .pointer{
        cursor: pointer;
    }
    #input-imagem, #enviarCurriculo{
        cursor: pointer;
    }
    #anunciar{
        margin-left: 23%;
        display: none;
    }
    #meus-anuncios{
        margin-left: 23%;
        display: none;
    }
    #meus-dados{
        margin-left: 23%;
        display: none;
    }
    #favoritos{
        margin-left: 23%;
        display: none;
    }
    #anunciar, #meus-anuncios, #meus-dados, #favoritos{
        margin-top: 75px !important;
    }
    .anunciar-cont{
        display: none;
    }
    
}

@media screen and (min-width: 576px) /* MEDIA 576px */
{
    body{
        overflow-x: hidden;
    }
    .backImageTeste{
        background-image: url('imagem/cidadeFundo.png') !important;
        background-position: center;
        background-size: cover !important;
        height: 200px;
    }
    .navMargin{
        height: 10px !important;
        top: 80px !important;
        padding: 0 !important;
    }
    #barraPesquisa {
        z-index: 2 !important;
        margin-top: 15px !important;
        margin-left: 23% !important;
    }
    /*TIRA O EFEITO DO BOTÃO DE PESQUISA*/
    #botaoPesquisa:active{
        border-color: transparent !important;
    }
    #botaoPesquisa{
        margin-left: -50px;
    }

    /* REFERENTE A NAVBAR */
    .grande {
        display: block;
    }
    /* REFERENTE A NAVBAR */
    .pequeno, #offPequeno, .anuncioGridmini {
        display: none;
    }

    #container-top {
        margin-top: 80px;
    }
    #container-top2 {
        margin-top: 155px;
    }
    #nav-fixed {
        margin-top: 30px;
        z-index: 2;
    } 
    /* REFERENTE AS 3 IMAGENS DE OFF */
    #offGrandeL {
        display: block !important;
        margin-top: 2%;
        border-bottom-left-radius: 20px;
    }
    #offGrandeC{
        display: block !important;
        margin-top: 2%;
    }
    #offGrandeR{
        display: block !important;
        margin-top: 2%;
        border-bottom-right-radius: 20px;
    }
    .carousel-inner {
        display: block;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .bottomMenu {
        display: flex;
        justify-content: center;
    }

    .bottomMenu * {
        color: #333;
        list-style: none;
        text-decoration: none;
    }

    .bottomMenu ul li {
        margin: 15px;
    }

    #bottomMenu li a:hover, #hoverMenu ul li a:hover {
        color: #65DAF9;
        background-color: transparent;
    }

    .faixaBottom {
        background-color: rgb(110, 110, 110);
        margin-top: 100px;
        margin-bottom: -100px;
    }

    .faixaBottom footer{
        padding-bottom: 10px;
        margin-top: 10px;
        text-align: center;
        margin: 0 auto;
    }

    #bottomMenu {
        margin-top: 20px;
    }

    .row #OFF:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    .faixa-nav {
        background-color: white;
        height: 150px;
    }
    .faixa-nav-2 {
        background-color: white;
        height: 100px;
    }

    /* SOBRE A LEISURI */
    #sobre {
        width: 100%;
        margin-left: 0;
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 0;
    }

    .main-title {
        padding-top: 130px;
        color: #444;
        margin: 40px 0 10px 0;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .sub-title {
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .barra {
        content: "";
        border-top: 1px solid #333;
        width: 15%;
        position: absolute;
        left: 42.5%;
    }

    #escritorioImg {
        background-color: rgba(0, 0, 0, 0.7);
    }

    #sobre-lista {
        list-style: none;
        padding-left: 0;
    }

    #sobre-lista li {
        line-height: 30px;
    }

    #sobre-lista i {
        color: #65DAf9;
        margin-right: 15px;
    }

    /* SERVIÇOS */
    .servicos-box, .card-body, #h1Centro, .dados-box{
        text-align: center;
    }
    .servicos-box i, .servicos-box h4
    {
        transition: .7s;
    }
    .servicos-box i
    {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .servicos-box h4
    {
        font-size: 24px;
    }
    /* DADOS AREA */
    #dados-area, #padrao-img h4, #padrao-img p{
        color: white;
        padding: 0;
    }
    .dadosImg{
        background-position: center;
        background-repeat: repeat;
        background-size: cover;  
    }
    .parallax{
        min-height: 250px;
        background-attachment: fixed;
    }
    .parallax-content{
        padding: 100px;
        color: white;
    }
    .dados-box i, .servicos-box h4
    {
        transition: .7s;
    }
    .dados-box i
    {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .dados-box h4
    {
        font-size: 24px;
    }
    /* TRABALHE CONOSCO */
    #trabalhe-area .trabalhe-box{
        text-align: center;

    }
    #empresa-img{
        background-image: url('../imagem/square.png');
        height: auto;
    }
    .parallax-trabalhe{
        min-height: 350px;
        background-attachment:fixed;
    }
    #padrao-img{
        background-image: url('../imagem/programar.png');
        height: 100%;
    }
    #padrao-img h4{
        margin-top: 8%;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    #padrao-img p{
        margin-bottom: 20px;
    }
    #apply-btn{
        display: block;
        height: auto;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        background-color: transparent;
        border-color: white;
    }
    #apply-btn:hover{
        border-color: #65DAF9;
        background-color: #65DAF9;
    }
    .container-fluid{
        padding: 0 !important;
    }
    .login-register{
        top: 19px !important;
        padding: 5px 10px !important;
        border-radius: 50px !important;
    }
    .fa-user{
        margin-right: 12px;
    }
    .card{
        border: 3px solid rgba(63, 100, 233, 0.185);
    }
    .card-img-top{
        width: 200px;
        height: 200px;
        margin: 25px auto 5px auto;
        border: 3px solid rgb(63, 100, 223);
        border-radius: 50%;
        object-fit: cover;
    }
    .card-body p{
        text-align: left !important;
        margin-top: 15px;
        font:bold;
        color: black;
    }
    .fa-location-dot
    {
        text-align: center !important;
        margin-bottom: 15px;
    }
    .card-body a{
        text-decoration: none !important;
        cursor: pointer !important;
    }
    .swiper-button-next, .swiper-button-prev{
        display: flex !important;
    }
    .swiper-slide{
        padding: 0 !important;
        margin: 0 !important;
    }
    .card-body .card-text-time{
        text-align: center !important;
    }
    #nosso-time{
        margin-bottom: 50px;
    }
    .card-body a{
        display: flex !important;
        text-align: center !important;
        justify-content: center;
    }
    .card-body a i{
        padding: 3px;
        align-items: center;
    }
    .card-body .btn-primary{
        padding: 10px;
        margin: 0 5% !important;
        font-size: .8em;
    }
    .swiper-pagination{
        display: flex !important;
    }
    #close-cadastro{
        margin: 15px 10px 0 0;
    }
    .time-area{
        margin-top: 100px !important;
    }
    /* PERFIL */
    .perfil{
        width: 200px;
        margin: 75px 0;  
    }

    #botaoPerfil{
        right: -2% !important;
        top: 17px !important;
        border-radius: 50px !important;
    }

    .foto-perfil{
        width: 500px !important;
        font-size: 200px !important;
    }
    #input-file{
        display: none;
    }
    #input-imagem, #enviarCuriculo{
        cursor: pointer;
    }
    .pointer{
        cursor: pointer;
    }
    #imagemUsuario{
        /* background-color:#b1afaf; */
        max-width: 210px;
        width: auto;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: #333 2px solid;
    }
    #anunciar{
        margin-left: 5%;
        display: none;
    }
    #meus-anuncios{
        margin-left: 5%;
        display: none;
    }
    #meus-dados{
        margin-left: 5%;
        display: none;
    }
    #favoritos{
        margin-left: 5%;
        display: none;
    }
    #anunciar, #meus-anuncios, #meus-dados, #favoritos{
        margin-top: 75px !important;
    }
    .anunciar-cont{
        display: block;
    }
    #admtablefromleisuri{
        margin-top: 200px;
    }
    #anuncios-area, #carouselExampleAutoplaying, #offGrandeL, #offGrandeC, #offGrandeR{
        visibility: hidden;
    }
    #sobre2, #sobre3, #sobre4, #sobre5, #sobre6, #sobre-lista{
        visibility: hidden;
    }
    #servicos-area2, #servicos-area3, #servicos-area4{
        visibility: hidden;
    }
    #dados-area2, #dados-area3, #dados-area4{
        visibility: hidden;
    }
    #time-area2, #time-area3, #time-area4, #time-area5, #time-area6{
        visibility: hidden;
    }
}