.premium{
    padding: 0 1em;
}
.premium__conteudo{
    margin: 0 2em;
    text-align: center;
}
.titulo__principal{
    font-size: 1.5em;
    font-weight: 700;
    margin: 1em 0;
    text-transform: uppercase;
}
.premium__conteudo-texto{
    font-size: var(--font-size);
}
.premium__conteudo__lista-item{
    align-items: center;
    display: flex;
    font-size: var(--font-size);
    justify-content: center;
    margin: 1em;
}
.premium__lista-item-icone{
    color: rgb(8, 212, 8);
    margin-right: 0.75em;
}
.box-pessoal{
    border: 1px solid lightgray;
    border-radius: 11px;
    padding-bottom: 1em;
}
.box-imobiliario{
    border: 1px solid rgb(32, 130, 242);
    border-radius: 11px;
    padding-bottom: 1em;
}
.titulo__premium{
    border-radius: 10px 10px 0 0;
    color: white;
    display: block;
    font-weight: 600;
    padding: 1.5em;
    text-transform: uppercase;
}
.pessoal{
    background-color: lightgrey;
}
.imobiliario{
    background-color: rgb(32, 130, 242);
}
.box-texto-price{
    font-weight: 700;
    font-size: 2em;
    margin: 1em;
}
.box-texto-price > b{
    color: gray;
    font-weight: 400;
}
.premium__conteudo__box{
    box-shadow: var(--cor-sombra);
    margin-top: 1em;
}
.premium__conteudo__box-lista{
    text-align: center;
}
.premium__conteudo__box-item{
    font-size: var(--font-size);
    margin: 1em 0;
}
.premium__conteudo__box-botao{
    background-color: rgb(32, 130, 242);
    border-radius: 20px;
    display: inline-block;
    margin: 1em;
    padding: 0.75em 2em;
}
.premium__conteudo__box-link{
    color: white;
    font-size: var(--font-size);
    text-decoration: none;
}
.premium__conteudo__box-botao:hover {
    background-color: rgb(8, 212, 8);
}

.premium__tabela{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2em 0;
}
.premium__tabela__conteudo{
    border-bottom: 1px solid lightgray;
    font-size: var(--font-size);
}
.premium__tabela-titulo{
    font-weight: 700;
}
.premium__tabela-dados{
    line-height: 3;
    padding: 0 1em;
}

@media screen and (min-width: 768px){
    
    .premium__conteudo__pacotes {
        display: grid;
        column-gap: 2em;
        grid-template-columns: 1fr 1fr;
        padding: 0 1em;
    }
    .premium__tabela{
        margin: 5em 0;
    }
}

@media screen and (min-width: 1024px){

    .titulo__principal {
        font-size: 2em;
    }
    
    .box-texto-price {
        font-size: 2em;
    }
    
}

@media screen and (min-width: 1920px){

    .titulo__principal {
        font-size: 2.5em;
    }
    
    .box-texto-price {
        font-size: 2.5em;
    }

}