.anuncio {
    padding: 1em;
}

.anuncio__card {
    height: auto;
    padding: 0.5em 1em;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: var(--cor-sombra);
}

.anuncio__card__lista {
    display: flex;
    flex-direction: column;
    column-gap: 2em;
}

.anuncio__card__lista__imagem {

    width: 100%;
    border-radius: 0.5em;
    background-size: cover;
}

.anuncio__card__form {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;
}

.anuncio__card__conteudo {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.anuncio__card__conteudo__titulo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size);
}

.anuncio__card__botao {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

.anuncio__container__mensagem {
    padding: 8em 0;
    gap: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.anuncio__container__mensagem__content {
    color: var(--cor-font-principal);
    font-size: var(--font-size);
    font-weight: 500;
}

.anuncio__container__mensagem__imagem img {
    width: 200px;
}

.anuncio__container__mensagem__link {
    color: var(--cor-font-principal);
    transition: 0.3s;
}

.anuncio__container__mensagem__link:hover {
    color: var(--cor-font-principal);
    transition: 0.3s;
}

.anuncio__card__botao a {
    background-color: var(--cor-terceira);
    padding: 1em 2em;
    border-radius: 0.5em;
    color: var(--cor-primeira);
    box-shadow: var(--cor-sombra);
}


@media screen and (min-width: 768px) {
    .anuncio {
        padding: 1em 5em;
    }

    .anuncio__card {
        display: flex;
        flex-direction: column;
        column-gap: 2em;
        align-items: center;
        padding: 1em;
    }

    .anuncio__card__lista {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
    }

    .anuncio__card__lista__imagem {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .anuncio__card__lista__imagem img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .anuncio__card__form {
        padding: 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0.5em;
    }

    .anuncio__card__conteudo {
        margin: 0.25em;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    }
    
    .anuncio__card__conteudo__resultado {
        color: var(--cor-font-principal);
    }
}
