.meusdados{
    padding: 2em 2em;
}
.meusdados__imagem{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    row-gap: 2em;
}

.meusdados__imagem label img{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: var(--cor-sombra);
    cursor: pointer;
    height: 50px;
    object-fit: cover;
    width: 50px;
}

.meusdados__imagem span {
    cursor: pointer;
}

.meusdados__imagem label span {
	position: absolute;
	top: 410px;
	left: 40%;
	right: 40%;
}

.meusdados__imagem input{
    display: none;
    margin: 2em 0;
}

.meusdados__container {
    margin-top: 2em;
}

.meusdados__container__conteudo{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.meusdados__container__conteudo input{
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family: var(--font-family);
    margin: 2em 0;
}
.meusdados__container__conteudo input:focus{
    outline: 0;
}

.meusdados__card__botao {
    align-items: center;
    display: flex;
    justify-content: center;
}
.meusdados__card__botao button {
    background-color: var(--cor-terceira);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--font-family);
    padding: 0.75em 2.5em;
    transition: 0.3s;
    width: auto;
}

.meusdados__card__botao button:hover {
    background: var(--cor-font-destaque);
    transition: 0.3s;
}

@media screen and (min-width: 768px){
    
    .meusdados__imagem{
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--font-family);
        justify-content: center;
        margin: 3em 0;
        row-gap: 2em;
        text-align: center;
    }

    .meusdados__container{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0;
    }
    .meusdados__container__form{
        column-gap: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2em;
    }

    .meusdados__imagem label img {
        height: 200px;
        width: 200px;
    }

    .meusdados__container__conteudo{
        align-items: center;
        border-radius: 0.25em;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        column-gap: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        padding: 0.25em 0.5em;
    }

    .meusdados__container__conteudo label {
        white-space: nowrap;
    }

    .meusdados__container__conteudo input{
        border: none;
        margin: 0;
        width: auto;
    }
}