.resposabilidade{
    margin: 2em 0;
}
.responsabilidade__conteudo{
    background-size: cover;
    background-image: url('../img/imagem/cidadeFundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2em 0;
}
.responsabilidade__conteudo__lista{
    text-align: center;
    padding: 0 1em;
    color: white;
}
.responsabilidade__conteudo__lista-item{
    padding: 1.5em 0;
}
.responsabilidade__conteudo__lista-texto{
    font-size: 0.75em;
}

@media screen and (min-width: 768px){
    .responsabilidade__conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .responsabilidade__conteudo__lista{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90vw;
    }
}