.container-fluid {
  padding: 0;
}

.pre {
  display: block;
}

.loaded {
  display: none;
}

.preLoading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imagem/mini-home.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100% !important;
  height: 100% !important;
}
.preLoading i {
  margin-top: 150px !important;
}

.pricing-header ul li {
  list-style: none;
}

.fa-check {
  color: #65DAF9;
}

body {
  overflow-x: hidden;
  width: auto;
}

@media screen and (min-width: 768px) {
  .main-title {
    padding-top: 10px;
    margin: 40px 0 25px 0;
    font-size: 40px;
    text-align: center;
  }
  .main-title::after {
    content: "";
    width: 15%;
    height: 1px;
    background-color: #363636;
    display: block;
    margin: 15px auto;
  }
  .sub-title, .main-title {
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  #escritorioImg {
    background-color: rgba(0, 0, 0, 0.7);
  }
  #sobre-lista {
    list-style: none;
    padding-left: 0;
  }
  #sobre-lista li {
    line-height: 30px;
  }
  #sobre-lista i {
    margin-right: 15px;
  }
  .servicos-box {
    text-align: center;
  }
  .servicos-box i {
    font-size: 36px;
    margin-bottom: 20px;
    transition: 0.7s;
  }
  .servicos-box h4 {
    font-size: 24px;
    transition: 0.7s;
  }
  .servicos-box p {
    transition: 0.7s;
  }
  #dados-area {
    color: white;
    padding: 0;
  }
  .dados-box {
    text-align: center;
  }
  .dados-box i {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .dados-box h4 {
    font-size: 24px;
  }
  #botaoPesquisa {
    margin-left: -50px;
  }
  #botaoPesquisa:active {
    border-color: transparent !important;
  }
  footer * {
    list-style: none;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: gray !important;
    background-color: transparent;
  }
  footer .fa-square-facebook:hover {
    color: rgb(0, 81, 255);
  }
  footer .fa-instagram:hover {
    color: #c539ec;
  }
  #empresa-img {
    background-image: url("../imagem/square.png");
    height: auto;
  }
  .parallax-trabalhe {
    min-height: 350px;
    background-attachment: fixed;
  }
  .parallax {
    min-height: 250px;
    background-attachment: fixed;
  }
  #padrao-img {
    background-image: url("../imagem/programar.png");
    height: auto;
  }
  #padrao-img h4 {
    color: white;
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 0;
  }
  #padrao-img p {
    margin-bottom: 20px;
    color: white;
    padding: 0;
  }
  #padrao-img a {
    text-align: center;
  }
  #apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: white;
  }
  #apply-btn:hover {
    border-color: #65DAF9;
    background-color: #65DAF9;
  }
  #imagemUsuario {
    max-width: 210px;
    width: auto;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: #333 2px solid;
  }
  .dadosImg {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("../imagem/cidadeFundo.png");
  }
  .sobre {
    border-radius: 10px;
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
  .fa-sun, .fa-moon, .home-page {
    cursor: pointer;
  }
  .azulTemaDark {
    color: #65DAF9;
    transition: 0.5s !important;
  }
  .azulTemaLight {
    color: blue;
    transition: 0.5s !important;
  }
  .sobreTemaLight {
    background-color: #F5F5F5;
    transition: 0.5s !important;
  }
  .sobreTemaDark {
    background-color: #4F4F4F;
    transition: 0.5s !important;
  }
  .bg-light {
    background-color: white !important;
    transition: 0.5s !important;
  }
  .bg-dark {
    background-color: #363636 !important;
    transition: 0.5s !important;
  }
  .font-light {
    color: black;
    transition: 0.5s !important;
  }
  .font-dark {
    color: white !important;
    transition: 0.5s !important;
  }
  .card-border-light {
    border: 1px solid #C0C0C0;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s !important;
  }
  .card-border-dark {
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s !important;
  }
  .img-border-light {
    border: 1px solid #C0C0C0;
    transition: 0.5s !important;
  }
  .img-border-dark {
    border: 1px solid black;
    transition: 0.5s !important;
  }
  .seta-light {
    color: #363636 !important;
    transition: 0.5s !important;
  }
  .seta-dark {
    color: solid black !important;
    transition: 0.5s !important;
  }
  .hoverMenu li a:hover {
    color: gray !important;
    background-color: transparent;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    margin: 25px auto 5px auto;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-img-details {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-body {
    text-align: center !important;
    padding: 10px;
    margin: 0 5% !important;
    font-size: 0.8em;
  }
  .card-body p {
    margin-top: 15px;
    font: bold;
  }
  .card-body a {
    text-decoration: none !important;
    cursor: pointer !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center;
  }
  .card-body a i {
    padding: 3px;
    align-items: center;
  }
  .card-body-time {
    background: linear-gradient(to bottom, #4F4F4F 40%, white 40%);
    border-radius: 15px;
    border: 3px solid #4F4F4F;
    width: 90%;
    height: 375px;
    color: black !important;
  }
  .fav-like:hover {
    font-size: 175%;
    transition: 0.2s;
  }
  .close {
    display: none;
  }
  #img-anuncio:target {
    background-color: transparent !important;
    position: fixed;
    width: 50%;
    height: 80%;
    top: auto;
    left: 25%;
    padding: 0;
    border: solid 1px #333;
    box-shadow: 0 0 25px 10px black;
    border-radius: 15px;
    z-index: 9999;
    transition: 0.4s;
  }
  #img-anuncio:target img {
    margin-left: 0 !important;
    width: 100%;
    height: 100%;
  }
  #img-anuncio:target .close {
    display: block;
  }
  #img-anuncio:target .close a {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
  }
  #img-anuncio img {
    width: 100%;
  }
  #barraPesquisa {
    z-index: 2;
    margin-top: 15px !important;
  }
  .navMargin {
    top: 90px !important;
    padding: 0 !important;
  }
  .grande {
    display: block;
  }
  .pequeno, #offPequeno, .anuncioGridmini {
    display: none;
  }
  #container-top {
    margin-top: 175px;
  }
  #nav-fixed {
    margin-top: 30px;
    z-index: 2;
  }
  #offGrandeC, #offGrandeR, #offGrandeL {
    display: block !important;
    margin-top: 2%;
    width: 20rem;
  }
  #offGrandeL {
    border-bottom-left-radius: 20px;
    width: 20rem;
  }
  #offGrandeR {
    border-bottom-right-radius: 20px;
    width: 20rem;
  }
  .carousel {
    display: block;
    width: 80.7rem;
  }
  .row #OFF:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  .faixa-nav {
    height: 170px;
  }
  #trabalhe-area, .trabalhe-box {
    text-align: center;
  }
  .login-register {
    top: 50px !important;
    padding: 10px;
    margin: 0 8% !important;
    border-color: #65DAF9;
    color: white;
  }
  .login-register:hover {
    border-color: black;
  }
  .home-page {
    top: 60px !important;
    padding: 10px;
    margin: 0 12% !important;
  }
  .fa-user {
    margin-right: 12px;
  }
  .fa-location-dot {
    text-align: center !important;
    margin-bottom: 15px;
  }
  .swiper-button-next, .swiper-button-prev {
    color: #65DAF9 !important;
  }
  .swiper-slide {
    padding: 0 !important;
    margin: 0 !important;
  }
  #nosso-time {
    margin-bottom: 50px;
  }
  .swiper-pagination {
    display: flex !important;
  }
  #close-cadastro {
    margin: 15px 10px 0 0;
  }
  .time-area {
    margin-top: 100px !important;
  }
  .perfil {
    width: 200px;
    margin: 75px 0;
  }
  
  #botaoPerfil {
    top: 45px !important;
    padding: 10px;
    margin: 0 5% !important;
  }
  
  #input-file {
    display: none;
  }
  #input-imagem, #enviarCuriculo, .pointer {
    cursor: pointer;
  }
  #anunciar {
    margin-left: 5%;
    display: none;
    margin-top: 75px !important;
  }
  #meus-anuncios {
    margin-left: 5%;
    display: none;
    margin-top: 75px !important;
  }
  #meus-dados {
    margin-left: 5%;
    display: none;
    margin-top: 75px !important;
  }
  #favoritos {
    margin-left: 5%;
    display: none;
    margin-top: 75px !important;
  }
  .anunciar-cont {
    display: block;
  }
  #admtablefromleisuri {
    margin-top: 200px;
  }
  #duvidas {
    padding-top: 130px;
  }
  .ms-3 a:hover {
    color: #65DAF9;
  }
  .margem {
    padding: 75px !important;
  }
}/*# sourceMappingURL=styleMax.css.map */