@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('header.css');
@import url('botoes.css');
@import url('estilizacoes.css');
@import url('carrossel.css');
@import url('pesquisa.css');
@import url('destaques.css');
@import url('fiador.css');
@import url('como-comprar.css');
@import url('sobre.css');
@import url('time.css');
@import url('trabalhe.css');
@import url('footer.css');
@import url('premium.css');
@import url('duvidas.css');
@import url('profile-anunciar.css');
@import url('profile-anuncio.css');
@import url('profile-meusdados.css');
@import url('login-cadastro.css');
@import url('modal.css');
@import url('resultado-pesquisa.css');

:root {

	--font-secundaria: "Quicksand", sans-serif;
	--cor-font-principal: #363636;
	--cor-font-destaque: #1e90ff;
	--cor-barra-progresso: linear-gradient(to right, #1E90FF, #00FF00);
	--cor-background-destaque: #ededed;

	--font-family:"Montserrat", sans-serif;
	--cor-hover: #F7F7F7;
    --cor-primeira: #FFFFFF;
    --cor-segunda: #9cc4e4;
    --cor-terceira: #3a89c9;
    --cor-quarta: #1b325f;
    --cor-quinta: #f26c4f;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
	font-family: var(--font-family);
	color: var(--cor-font-principal);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hidden {
    display: none;
}

input, select {

    font-family: var(--font-family);
    padding: 0.5em 0;
    width: 100%;
    border: 0;
}

select {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select:focus, input:focus {
    outline: 0;
}

input::placeholder {

    position: absolute;
    left: 0;
}

.titulo__segundo {

	color: var(--cor-font-principal);
    font-weight: 700;
	font-size: var(--titulo-segundo);
    text-transform: uppercase;
}

.titulo__segundo::after {

    content: '';
    display: block;
    width: 7%;
    margin: 0.5em auto;
}

.titulo__terceiro {

	color: var(--cor-font-principal);
    text-transform: uppercase;
	font-size: var(--titulo-terceiro);
    font-weight: 600;
}

.titulo__quarto {

	color: var(--cor-font-principal);
    font-weight: 500;
}

.no-decoration {
    text-decoration: none;
}

@media (max-width: 767px) {

	:root {
		--font-size: 0.75em;
		--titulo-segundo: 1em;
		--titulo-terceiro: 0.85em;
	}
}

@media screen and (min-width: 768px){

	:root {
		--font-size: 1em;
		--titulo-segundo: 1.25em;
		--titulo-terceiro: 1.15em;
	}
}

@media screen and (min-width: 1024px){

	:root {
		--font-size: 1em;
		--titulo-segundo: 1.25em;
		--titulo-terceiro: 1.15em;
	}
}

@media screen and (min-width: 1920px){

	:root {
		--font-size: 1.25em;
		--titulo-segundo: 1.5em;
		--titulo-terceiro: 1.35em;
	}
}